		<div class="pull-right">
			<a href="/system/inscricoes_participante/{{participante.id}}" onclick="show__(this.href); return false;" class="btn">Inscricoes</a>
		</div>
		
		Cadastrar usuario/participante >>> Possivel Inscricao, criara todas as aposta de todos os jogos daquela competicao como Empate e 0 X 0

<div class="row well">
		<div class="span5">
			<form action="" method="POST" class="form-horizontal"> {% csrf_token %}
			    <div id="legend">
				   <legend><h3>Usuario</h3></legend>
			    </div>			
				<div class="control-group">
					<label class="control-label">{{ form_user.username.label }}</label>										
					<div class="controls">
						<span class="add-on"><i class="icon-user"></i></span>
						{{ form_user.username }}
						{% if form_user.username.errors %}
							{% for error in form_user.username.errors %}
								<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
							{% endfor %}
						{% endif %} 							
					</div>	
				</div>
				<div class="control-group">
					<label class="control-label">{{ form_user.email.label }}</label>										
					<div class="controls">
						<span class="add-on"><i class="icon-envelope"></i></span>
						{{ form_user.email }}
						{% if form_user.email.errors %}
							{% for error in form_user.email.errors %}
								<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
							{% endfor %}
						{% endif %} 									
					</div>	
				</div>					
				{% if status_transation == 'I' %}
					<div class="control-group">
						<label class="control-label">{{ form_user.password.label }}</label>										
						<div class="controls">
							<span class="add-on"><i class="icon-lock"></i></span>
							{{ form_user.password }}
							{% if form_user.password.errors %}
								{% for error in form_user.password.errors %}
									<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
								{% endfor %}
							{% endif %} 									
						</div>	
					</div>		
					<div class="control-group">
						<label class="control-label">{{ form_user.confirme_a_senha.label }}</label>										
						<div class="controls">
							<span class="add-on"><i class="icon-lock"></i></span>
							{{ form_user.confirme_a_senha }}
							{% if form_user.confirme_a_senha.errors %}
								{% for error in form_user.confirme_a_senha.errors %}
									<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
								{% endfor %}
							{% endif %} 									
						</div>	
					</div>	
				{% else %}
					<div class="control-group">
						<label class="control-label">{{ form_user.first_name.label }}</label>										
						<div class="controls">
							<span class="add-on"><i class="icon-user"></i></span>
							{{ form_user.first_name }}
							{% if form_user.first_name.errors %}
								{% for error in form_user.first_name.errors %}
									<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
								{% endfor %}
							{% endif %} 									
						</div>	
					</div>			
					<div class="control-group">
						<label class="control-label">{{ form_user.last_name.label }}</label>										
						<div class="controls">
							<span class="add-on"><i class="icon-user"></i></span>
							{{ form_user.last_name }}
								{% if form_user.last_name.errors %}
								{% for error in form_user.last_name.errors %}
									<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
								{% endfor %}
							{% endif %} 									
						</div>	
					</div>					
					<!-- Fim Logado -->								
					<a href="/cadastre_se/alterar_senha/" onclick="show__(this.href); return false;" class="pull-left">Alterar senha</a>				
				{% endif %}
				<div class="form-actions">		
					<button type="submit" class="btn btn-primary" name="save_user"><i class="icon-ok" ></i> Salvar </button>
				</div>

			</form>
		</div> <!-- .span8 -->
		<div class="span6">
			{% if status_transation != 'I' %}
				{% if user_participante.confirm_email %}	
					
					<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
						<div id="legend">
						   <legend><h3>Participante</h3></legend>
						</div>			

						<div class="control-group">
							<label class="control-label">{{ form_participante.username.label }}</label>										
							<div class="controls">
								<span class="add-on"><i class="icon-user"></i></span>
								<span class="label label-important">{{ form_participante.user.value }}</span>
								<input type="hidden" value="{{form_participante.user.value}}" name="user">
								{% if form_participante.username.errors %}
									{% for error in form_participante.username.errors %}
										<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
									{% endfor %}
								{% endif %} 							
							</div>	
						</div>		

						<div class="pull-right">
							<a href="/photo/" onclick="show__(this.href); return false;">
								{% if form_participante.foto.value != '' %}
									{{ form_participante.foto.label }}<br/>
									<img src="/media/{{ form_participante.foto.value }}" height="150" width="150" class="img-rounded"/>
								{% endif %}
							</a>
						</div>
						
						<br/><br/>
						<div class="control-group">
							<label class="control-label">{{ form_participante.apelido.label }}</label>										
							<div class="controls">
								<span class="add-on"><i class="icon-user"></i></span>
								{{ form_participante.apelido }}
								{% if form_participante.apelido.errors %}
									{% for error in form_participante.apelido.errors %}
										<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
									{% endfor %}
								{% endif %} 									
							</div>	
						</div>		
						<div class="control-group">
							<label class="control-label">{{ form_participante.telefone.label }}</label>										
							<div class="controls">
								<span class="add-on"><i class="icon-user"></i></span>
								<input type="number" style="width: 45px; padding: 1px" value="{{form_participante.ddd.value}}" name="ddd"> 
								<input id="id_apelido" maxlength="30" name="telefone" type="text" {% if form_participante.telefone.value != None %} value="{{ form_participante.telefone.value }}"{% endif %} />
								{% if form_participante.ddd.errors %}
									{% for error in form_participante.ddd.errors %}
										<span class="help-inline"><span class="text-error">DDD: {{ error|escape }}</span></span>
									{% endfor %}
								{% endif %} 	
								
								{% if form_participante.telefone.errors %}
									{% for error in form_participante.telefone.errors %}
										<span class="help-inline"><span class="text-error">Telefone: {{ error|escape }}</span></span>
									{% endfor %}
								{% endif %} 						
							</div>	
						</div>							
						<div class="control-group">
						  <div class="controls">
							<input type="submit" value="Salvar" class="btn btn-primary" name="save_participante">
						  </div>
						</div>	
					</form>
					
		
				{% else %}		
					<h3 class="text-warning">Confirme seu cadastro em seu email</h3>
					<a href="/reenvio_confirm_email/">Reenviar email</a>
				{% endif %}
			{% endif %}
		</div>		
	</div>
	
	