	<div class="row well">
		<div class="span7">
			<form action="" method="POST" class="form-horizontal"> {% csrf_token %}
			    <div id="legend">
				   <legend><h3>Jogo</h3></legend>
			    </div>			
				<div class="control-group">
					<label class="control-label">{{ form.grupo.label }}</label>										
					<div class="controls">
						{{ form.grupo }}
						{% if form.grupo.errors %}
							{% for error in form.grupo.errors %}
								<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
							{% endfor %}
						{% endif %} 									
					</div>	
				</div>
				<div class="control-group">
					<label class="control-label">{{ form.local.label }}</label>										
					<div class="controls">
						{{ form.local }}
						{% if form.local.errors %}
							{% for error in form.local.errors %}
								<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
							{% endfor %}
						{% endif %} 									
					</div>	
				</div>		
				<div class="control-group">
					<label class="control-label">	
						{{ form.data_hora.label }}
					</label>
					<div class="controls">
						{{ form.data_hora }} <a href="/tipoconta_edit_simple/0/" onclick="show__(this.href); return false;"><i class="icon-plus"></i></a>
						{% if form.data_hora.errors %} 
							{% for error in form.data_hora.errors %}
								<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
							{% endfor %}
						{% endif %} 										
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">	
						{{ form.status.label }}
					</label>
					<div class="controls">
						{{ form.status }} <a href="/agencia_edit_simple/0/" onclick="show__(this.href); return false;"><i class="icon-plus"></i></a>
						{% if form.status.errors %} 
							{% for error in form.status.errors %}
								<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
							{% endfor %}
						{% endif %} 										
					</div>
				</div>
				
				<div class="control-group">			
					{% if form.resultado_a.errors %}
						{% for error in form.resultado_a.errors %}
							<span class="help-inline"><span class="text-error"> Resultado {{ form.time_a.label }}: {{ error|escape }}</span></span>
						{% endfor %}
					{% endif %} 			
					<div class="controls">					
						<h3>
							{{ form.time_a.label }}<br/>
							{{form.time_a}}
							<!--<input type="text" value="{{ aposta.resultado_a }}" name="resultado_a">-->
							<!--{ form.resultado_a }-->
							<input type="number" id="id_resultado_a" style="width: 45px; padding: 1px" value="{{form.resultado_a.value}}" name="resultado_a"> 
						</h3>
					</div>
				</div>	
				<div class="control-group">			
					{% if form.resultado_b.errors %}
						{% for error in form.resultado_b.errors %}
							<span class="help-inline"><span class="text-error"> Resultado {{ form.time_b.label }}: {{ error|escape }}</span></span>
						{% endfor %}
					{% endif %} 			
					<div class="controls">					
						<h3>
							{{ form.time_b.label }}<br/>
							{{form.time_b}}
							<!--<input type="text" value="{{ aposta.resultado_a }}" name="resultado_a">-->
							<!--{ form.resultado_a }-->
							<input type="number" id="id_resultado_b" style="width: 45px; padding: 1px" value="{{form.resultado_b.value}}" name="resultado_b"> 
						</h3>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-danger"><i class="icon-ok"></i> Salvar </button>
					<a href="{{ action_view }}" class="btn" type="button" onclick="close__('N');"><i class="icon-ban-circle"></i> Cancelar</a>							
				</div>

			</form>
		</div> <!-- .span8 -->
	</div>