<html>
<head>
	{% block head %}
		<title>Bolao</title>
		<link href="/media/bootstrap/Flatly/bootstrap.min.css" rel="stylesheet"/>
		
		<link href="/media/css/my_css.css" rel="stylesheet"/>
		
		<!--<script src="{{ MEDIA_URL }}bootstrap/bootstrap.min.js"/>-->
		
		<link href="/media/bootstrap/bootswatch.css" rel="stylesheet"> 
		<link href="/media/bootstrap/bootstrap-responsive.min.css" rel="stylesheet"> 
		<!--<link href="bootstrap/font-awesome.min.css" rel="stylesheet"> -->          	
		
		<script src="/media/bootstrap/jquery.min.js"></script>
		<script src="/media/bootstrap/bootstrap.min.js"></script>
		<script src="/media/bootstrap/bootswatch.js"></script>
		<script src="/media/bootstrap/jquery.smooth-scroll.min.js"></script>
		
		<script type="text/javascript">				
			function show__(url, alt, larg) {
				w = window.open(url, 
								'', 
								'height=550, width=750, top=150, left=250, scrollbars=no, resizable=no');								
			}
			function show_ful__(url, alt, larg) {
				w = window.open(url, 
								'', 
								'height=650, width=1170, top=100, left=30, scrollbars=no, resizable=no');								
			}			
			
			function get_one_puclicidade_pagina(pagina_codigo, competicao_id) {
				$.getJSON('/get_one_puclicidade_pagina/'+pagina_codigo+'/'+competicao_id+'/', 			
						  function(retorno) {     
							 //alert(retorno[0].fields.patrocinador_display);
							 var html__ = "";
							 html__ += '<span class="text-warning">publicidade</span><br/> ';
							 html__ += '<a href="'+retorno[0].fields.patrocinador_link+'" target="_blank">';
							 html__ += '   <img class="img-rounded" title="'+retorno[0].fields.patrocinador_display+'" height="100" width="150" src="'+retorno[0].fields.patrocinador_image_aside+'"/>';
							 html__ += '</a>';
							 $('#id_publicidade_top').html(html__);
				});			
			}			
			
		</script>		
	
	{% endblock %}
</head>
<body>
	
	{% include 'header_top.html' %}
	
	{% block body %}
		<!-- Conteudo -->
		<div class="container">
			{% include template %}
		</div>
	{% endblock %}	
	
	<br/><br/><br/>
	
	<div class="text-center">
		<center>
		<span class="label label-important">asisco.com.br</span>
		</center>
	</div>

	<footer>
		<div class="container">
			<!--<p>Base Bootstrap Twiiter</p>-->
			<p class="text-info"><a href="http://www.asisco.com.br" target="_blank"><span class="text-info">Asisco</span></a> @ 2013</p>
		</div>
	</footer>
	
</body>
</html>
