<br/>


	<h1>Apostas</h1>
		
	<div class="pagination pagination-centered">
	  <ul>
		<li><a href="#">&larr;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">&rarr;</a></li>
	  </ul>
	</div>			
	
	<br/>
	
	<table class="table table-striped table-hover well">
		
		<tr>
			<td class="text-error"></td>
			<td class="text-error"></td>
			<td class="text-error"></td>
			<td class="text-error"></td>
			<td class="text-error"></td>			
			<td class="text-error"></td>
			<td class="text-error"></td>
			<td class="text-error"></td>
			<td class="text-error">Palpite</td>
			<td class="text-error"></td>
		</tr>
		
		{% for a in apostas %}
		<tr>
			<td>{{ a.jogo.time_a }}</td>
			<td>
				{% if a.jogo.status.codigo != 'E' %}
					{{ a.jogo.resultado_a }}
				{% endif %}
			</td>
			<td>X</td>
			<td>
				{% if a.jogo.status.codigo != 'E' %}
					{{ a.jogo.resultado_b }}
				{% endif %}
			</td>
			<td>{{ a.jogo.time_b }}</td>
			<td>{{ a.jogo.data_hora }}</td>
			<td>{{ a.jogo.local }}</td>
			<td>{{ a.jogo.status.codigo }}</td>
			<td><b class="text-success">{{ a.jogo.time_a }}</b></td>
			<td><b class="text-success">{{ a.jogo.resultado_a }}</b></td>
			<td>X</td>
			<td><b class="text-success">{{ a.jogo.resultado_a }}</b></td>
			<td><b class="text-success">{{ a.jogo.time_b }}</b></td>
			<td><a href="#" class="btn btn-small btn-info"><i class="icon-plus"></i></a></td>
		</tr>
		{% empty %}
			<h1>Não há produtos cadastrados</h1>
		{% endfor %}
	</table>
		
	<div class="text-right">
		<a href="/produto_form/0/" class="btn btn-success">Salvar</a>
	</div>
