<h1 class="text-warning">Colocar campos novos criados na Apostas para passar pela validação</h1>

<form action="" method="POST"> {% csrf_token %}
	<div id="legend">
	   <legend>
		   <h3>
			   Aposta
			   {{ aposta.jogo.status.descricao }} até {{ aposta.jogo.data_hora }}
		   </h3>
	   </legend>
	</div>						
	
	<div class="control-group">	
		<input type="hidden" value="{{aposta.inscricao.id}}" name="inscricao">
		<input type="hidden" value="{{aposta.jogo.id}}" name="jogo">
		
		{% if form.resultado_a.errors %}
			{% for error in form.resultado_a.errors %}
				<span class="help-inline"><span class="text-error"> Resultado {{ aposta.jogo.time_a }} {{ error|escape }}</span></span>
			{% endfor %}
		{% endif %} 			
		<br/>	
		{% if form.resultado_b.errors %}
			{% for error in form.resultado_b.errors %}
				<span class="help-inline"><span class="text-error">Resultado {{ aposta.jogo.time_b }} {{ error|escape }}</span></span>
			{% endfor %}
		{% endif %} 				
		
		<h3>
			{{ aposta.jogo.time_a }} 
			<!--<input type="text" value="{{ aposta.resultado_a }}" name="resultado_a">-->
			{{ form.resultado_a }}
			X 
			<!--<input type="text" value="{{ aposta.resultado_b }}" name="resultado_b">-->
			{{ form.resultado_b }}
			{{ aposta.jogo.time_b }}
		</h3>
		
		<input type="hidden" value="{{aposta.pontos}}" name="pontos">
		<input type="hidden" value="{{aposta.vencedor}}" name="vencedor">
	</div>	
	
	<div class="pull-rigth">
		<input type="submit" value="Salvar" class="btn btn-large btn-success" name="save"/>						
		<a href="#" onclick="close__('N')" class="btn btn-danger btn-large">Cancelar</a>		
	</div>
	
</form>
