<div class="row">	
	<h3>Copa <a href="{{patrocinador.patrocinador.url_site}}" target="_blank">{{patrocinador.patrocinador.nome_visual}}</a> {{competicao.nome}}</h3>

	<div class="span10">
		<a href="{{ url_tabela }}" class="btn btn-small active"><i class="icon-arrow-left"></i>Voltar</a>

		<div class="text-center">
			<span class="label label-important">{{jogo.status.descricao}}</span>
			<h2>
				{{ jogo.time_a }} <span class="text-warning offset1"><b>{{ jogo.resultado_a }}</b></span> <span style="font-size: 30px;">X</span> <span class="text-warning"><b>{{ jogo.resultado_b }}</b></span> <span class="offset1">{{ jogo.time_b }}</span>
				<br/>
				{% if jogo.status.codigo == 'A' %}
					<img src="/media/images/bola_72.png"/>
				{% elif jogo.status.codigo == 'F' %}
					<img src="/media/images/apito_72.png"/>
				{% endif %}
			</h2>
		</div>

		<table class="table table-striped table-hover well">
			<tr>
				<td class="text-error">Participante</td>
				<td class="text-error" colspan="5">Jogo</td>
				<td class="text-error">Pontos</td>
				<td class="text-error">Colocação</td>
			</tr>
			{% for a in apostas %}
			<tr>
				<td>
					<a href="/perfil_competicao/{{competicao.id}}/{{a.inscricao.id}}/">
						<img src="/media/{{ a.inscricao.participante.foto }}" height="20" width="25" class="img-rounded"/>
						<span class="text-info">{{ a.inscricao.participante.apelido }}</span>
					</a>
				</td>
				<td>{{ a.jogo.time_a }}</td>
				<td>{{ a.resultado_a }}</td>
				<td>X</td>
				<td>{{ a.resultado_b }}</td>
				<td>{{ a.jogo.time_b }}</td>
				<td>{{ a.pontos }}</td>
				<td>{{ a.colocacao }}º</td>
			</tr>
			{% empty %}
				<h1>Não há palpites cadastrados para este jogo</h1>
			{% endfor %}
		</table>
	</div>
	<div class="span2">
		<span class="text-warning">publicidade</span><br/>
		<div class="visible-desktop">
			<a href="{{ patrocinador.patrocinador.url_site }}" target="_blank">
				<img class="img-rounded" title="{{patrocinador.patrocinador.nome_visual}}" height="100" width="150" src="/media/{{ patrocinador.patrocinador.image_aside }}"/>
			</a>
			<br/><br/>
		</div>	
		
		{% for p in patrocinadores %}
			<div class="visible-desktop">
				<a href="{{ p.competicacao_patrocinador.patrocinador.url_site }}" target="_blank">
					<img class="img-rounded" title="{{p.competicacao_patrocinador.patrocinador.nome_visual}}" height="100" width="150" src="/media/{{ p.competicacao_patrocinador.patrocinador.image_aside }}"/>
				</a>
				<br/><br/>
			</div>			
		{% endfor %}
		<div class="patrocinador">
			<img class="img-rounded" src="/media/images/patrocinadores/anuncie.gif"/>
		</div>	
	</div>		
</div>	



