{% load functions %}

<script type="text/javascript">
	
	var qtde_atde = 15; // quantidade de atividades...
	
	function load_coment(atividade_pk, id) {
		$('#'+id).html('<img src="/media/images/__159__.gif"/>');
		alert('ajax: Busca comentarios');
		$('#'+id).empty();
	}
	
	$(function() {
		$('#id_carregar_mais').click(function() {
			$('#id_img_load_atividade').html('<img src="/media/images/__159__.gif"/>');
			alert('ajax: Busca mais Feeds: de ' + qtde_atde + ' a ' + (qtde_atde+15));
			qtde_atde += 15;
			$('#id_img_load_atividade').empty();
		});		
	});
	
</script>

{% if user_inscricao.pk > 0 %}
<center>
	<p>
		<img src="/media/{{user_inscricao.participante.foto}}" height="40" width="40" class="img-rounded"/>
		<input type="text" id="id_mensagem"> 
		<a href="#" class="btn btn-primary">publicar</a>
	</p>
</center>
{% endif %}

{% for a in atividades %}
	<div class="row">
		<hr/>
		<div class="span">
			<img src="/media/{{a.inscricao.participante.foto}}" height="50" width="50" class="img-rounded"/>
		</div>
		<div class="span6">
			<p class="text-info">{{ a.inscricao.participante.apelido }}</p>
			<p class="well">{{ a.mensagem }}</p>
			<a href="javascript:undefined" id="id_load_coment{{a.id}}" onclick="load_coment({{a.id}}, 'id_img_load_coment'+{{a.id}});">
				<p class="muted">
					{{ a|get_qtde_comentarios }} comentarios 
					<span id="id_img_load_coment{{a.id}}"></span> 
				</p>
			</a>
			<!--
			{% for c in a|get_comentarios_atividade %}
				<div class="row">
					<div class="span">
						<img src="/media/{{c.inscricao.participante.foto}}" height="25" width="25" class="img-rounded"/>
					</div>
					<div class="span">
						<p class="text-info">{{ c.inscricao.participante.apelido }}</p>
						<p>{{ c.mensagem }}</p>
					</div>
				</div>
			{% endfor %}
			-->
		</div>
	</div>
{% empty %}
	<h4>Seja o Primeiro a publicar no <span class="text-warning">{{ subtitulo }}</span>.</h4>
{% endfor %}

<hr/>
<div id="id_img_load_atividade"></div><a href="javascript:undefined" class="btn" id="id_carregar_mais">Carregar mais</a>



