
<script type="text/javascript">
	
	var qtde_atde = 0; // quantidade de posts...	
	posts({{competicao.id}});
	
	function posts(competicao_pk) {
		//alert('Iniciando busca dos posts...');
		$.getJSON('/get_posts/'+competicao_pk+'/'+qtde_atde,  // URL 				
				  function(retorno) {     
					  //alert(JSON.stringify(retorno));					  
					  $.each( retorno, function( i, item ) {
							//alert(item.participante.apelido + ' - ' + item.post.mensagem);	
							
							var html_ = "";
							html_ += '<div class="row">';
							html_ += '    <div id="a'+item.post.id+'">';
							html_ += '  		<hr/>';
							html_ += '  		<div class="span">';
							html_ += '				<img src="'+item.participante.foto+'" height="50" width="50" class="img-rounded"/>';
							html_ += '			</div>';	
							html_ += '			<div class="span6">';
							html_ += '				<p class="text-info">';
							html_ += 					item.participante.apelido;							
						    html_ += '				<span class="pull-right muted" style="font-size: 12px;">';
							html_ += 						item.post.data_hora;
							if ( {{ user_participante.id }} > 0 && {{ user_participante.id }} == item.participante.id) {
							   html_ += '    					<a href="javascript:undefined" onclick="delete_atividade('+item.post.id+')"><i class="icon-remove"></i></a>';
							}
							html_ += '				</span> ';			
							html_ += '				</p>';	
							html_ += '				<p class="well">'+item.post.mensagem+'</p>';
							if ( item.post.count_coment > 0) {
								  html_ += '			    <a href="javascript:undefined" onclick="load_coment('+item.post.id+');">';
								  html_ += '					<p class="muted">';
								  html_ += 							item.post.count_coment+' comentarios ';
								  html_ += '						<span id="id_img_load_coment'+item.post.id+'"></span> ';
								  html_ += '					</p>';
								  html_ += '				</a>';							
							} else {
								  html_ += '				<p class="muted">'+item.post.count_coment+' comentarios </p>';
							}
							html_ += '				<div id="id_comentar_post'+item.post.id+'">';
							html_ += '					<img src="'+item.participante.foto+'" height="30" width="30" class="img-rounded"/>';
							html_ += '					<input type="text" id="id_mensagem_comentar'+item.post.id+'"> ';
							html_ += '					<a href="javascript:undefined" class="btn" id="id_publicar_mensagem'+item.post.id+'" onclick="comentar_atividade('+item.post.id+');">publicar</a>';
							html_ += '				</div>	';						
							html_ += '	  		</div>';							
							html_ += '	  </div>';
							html_ += '</div>';
							
							$('#id_posts').html(html_);
					  });
				  }
		 );		
	}	
	
	
	
</script>

{% if user_inscricao.pk > 0 %}
	<div span="row">	
		  <div class="offset3">
			<img src="/media/{{user_inscricao.participante.foto}}" height="50" width="50" class="img-circle"/>
			<div class="col-lg-10">
			  <textarea class="form-control span4" rows="3" id="id_message" placeholder="Sua mensagem"></textarea><br/>
			  <a href="#" id="id_publicar_atividade_" class="btn btn-primary input-medium" onclick="posts('1');">publicar</a>
			</div>
		  </div>	
	</div>			
	<br/><br/><br/><br/>
{% endif %}

	<div class="row">
		<div class="span8">
			<div class="row">
				<div id="id_posts"><img src="/media/images/__159__.gif"/></div>
				<hr/>
			</div>
			<div class="row">
				<div class="carregar_mais">
					<a href="javascript:undefined" class="btn">Carregar mais</a>
				</div>
			</div>
		</div>
		<div class="span4">
		</div>
	</div>