{% if message != "" %}
	<script type="text/javascript">
		alert('{{message}}');
	</script>
{% endif %}
<!--
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		<h3 id="myModalLabel">>>>>>>>>>>></h3>
  </div>
  <div class="modal-body">
		<h3>{{ message }}</h3>
  </div>
  <div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div>
-->


<div class="row">
	<div class="span6">
		<form action="" method="POST" class="form-horizontal"> {% csrf_token %}
			<fieldset>
				<!-- Form Name -->
				<legend>Usuário</legend>

				{{ form_user.as_p }}
				
				<!-- Button -->
				<div class="control-group">
				  <div class="controls">
					<input type="submit" value="Salvar" class="btn btn-primary" name="save_user">
				  </div>
				</div>	
			</fieldset>
		</form>
	</div>
	<div class="span6">
		{% if status_transation != 'I' %}
			{% if user_participante.confirm_email %}
					<form action="" method="POST" class="form-horizontal"> {% csrf_token %}
						<fieldset>
							<!-- Form Name -->
							<legend>Participante</legend>

							{{ form_participante.as_p }}
							
							<!-- Button -->
							<div class="control-group">
							  <div class="controls">
								<input type="submit" value="Salvar" class="btn btn-primary" name="save_participante">
							  </div>
							</div>	
						</fieldset>
					</form>				
			{% else %}		
				<h3 class="text-warning">Confirme seu cadastro em seu email</h3>
				<a href="/reenvio_confirm_email/">Reenviar email</a>
			{% endif %}
		{% endif %}
	</div>

</div>
