		
	<script type="text/javascript">
		
		list_add = [];
		list_remove = [];
		
	</script>
	
	<div id="id_modal_include_part" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Incluir Participante</h3>
	  </div>
	  <div class="modal-body">
	  
		<center>
			<div class="row">
				<p>Participantes não adicionados</p>
				<p><input type="text" id="id_pesq_part" value=""></p>			
				<div class="span3">
					<select size="6" id="id_part_include">
						<option value="1volvo">Volvo</option>
						<option value="2saab">Saab</option>
						<option value="3mercedes">Mercedes</option>
						<option value="4audi">Audi</option>
					</select>	  
				</div>
				<div class="span2">
					<br/><br/><br/>
					<a href="#" class="btn btn-success">Adicionar</a>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="span3">			
					<p>Participantes no gráfico</p>
					<select size="5" id="id_part_not_include">
						{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
							<option value="{{ user_inscricao.id }}">{{ user_inscricao.participante.apelido }}</option>
						{% endif %}
						<option value="{{ view_inscricao.id }}">{{ view_inscricao.participante.apelido }}</option>
					</select>		
				</div>
				<div class="span2">
					<br/><br/><br/>
					<a href="#" class="btn btn-danger">Retirar</a>
				</div>					
		</center>
	  </div>
	  <div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
	  </div>
	</div>		
	
	<div class="container">	
		<div class="row">
			<div class="span6">
				<table class="table">
					<thead class="text-warning">
						<tr>
							<td>Participante</td>
							<td><center>Colocação</center></td>
							<td><center>Pontos</center></td>
						</tr>
					</thead>
					{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
						<tr>
							<td><img src="/media/{{ user_participante.foto }}" height="20" width="25" class="img-rounded"/> {{ user_participante.apelido }}</td>
							<td><center>{{ user_inscricao.colocacao }}º</center></td>
							<td><center>{{ user_inscricao.pontos }}</center></td>						
						</tr>
					{% endif %}
					<tr>
						<td><img src="/media/{{ view_inscricao.participante.foto }}" height="20" width="25" class="img-rounded"/> {{ view_inscricao.participante.apelido }}</td>
						<td><center>{{ view_inscricao.colocacao }}º</center></td>
						<td><center>{{ view_inscricao.pontos }}</center></td>						
					</tr>					
				</table>
			</div> 
			<div class="span6">
				<br/><br/>
				<a href="#id_modal_include_part" role="button" data-toggle="modal" class="btn btn-warning">Incluir participante</a>
				
				{% include 'legenda_pontos.html' %}
				<!--
				<h4 class="text-warning">
					{{ user_participante.apelido }} 
					<span class="offset1">Colocação Atual:  {{ user_inscricao.colocacao }}º</span>
					<span class="offset1">Pontos:  {{ user_inscricao.pontos }}</span>
				</h4>
				<h4 class="text-warning">
					{{ view_inscricao.participante.apelido }} 
					<span class="offset1">Colocação Atual:  {{ view_inscricao.colocacao }}º</span>
					<span class="offset1">Pontos:  {{ view_inscricao.pontos }}</span>
				</h4>					
				-->
			</div> 	
		</div>
	</div>

	<br/>	

	<div class="row">
		<div class="span9">
			<div id="chart_div" style="width: 100%; height: 350px;">
				<center>
					<img src="/media/images/211.gif"/> <img src="/media/images/aguarde_g.gif"/>
				</center>
			</div>
		</div>
		<div class="span2">
			<div id="chart_div_col" style="width: 100%; height: 350px;"></div>
		</div>
	</div>
	
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {	    
	    var data = new google.visualization.DataTable();
		data.addColumn('string', 'Jogos');
		
		{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
			data.addColumn('number', '{{ user_inscricao.participante.apelido }}');        
		{% endif %}
		
		data.addColumn('number', '{{ view_inscricao.participante.apelido }}');
        data.addRows({{qtde_jogos}});		
		var i = 0;
		
		{% for a in apostas %}
			data.setValue(i, 0, '{{ a.jogo.time_a}} X {{ a.jogo.time_b }}');
			data.setValue(i, 2, {{a.colocacao}});
			//data.setValue(0, 2, 400);
			i++;
		{% endfor %}
		
		{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
			i = 0;
			{% for a in my_apostas %}
				//data.setValue(i, 0, '{{ a.jogo.time_a}} X {{ a.jogo.time_b }}');
				data.setValue(i, 1, {{a.colocacao}});
				//data.setValue(0, 2, 400);
				i++;
			{% endfor %}		
		{% endif %}
		
        var options = {
          title: 'Histórico de Colocação',
          vAxis: {maxValue: 10, direction: -1} // Inverte a Coluna em ordem crescente...
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));		
        chart.draw(data, options);
      }
	  /*
	  function drawChartCompare() {
	    var data = new google.visualization.DataTable();
		data.addColumn('string', 'Jogos');
		data.addColumn('number', 'Colocação');
        data.addColumn('number', 'Minha Colocação');        
        data.addRows({{qtde_jogos}});		
		var i = 0;
		{% for a in apostas %}
			data.setValue(i, 0, '{{ a.jogo.time_a}} X {{ a.jogo.time_b }}');
			data.setValue(i, 1, {{a.colocacao}});
			//data.setValue(0, 2, 400);
			i++;
		{% endfor %}
        var options = {
          title: 'Histórico de Colocação',
          vAxis: {maxValue: 10, direction: -1} // Inverte a Coluna em ordem crescente...
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_compare_div'));		
        chart.draw(data, options);	  
	  }
	  */
	  
    </script>
	
   
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
		
          ['Pontuação', 		   
		   {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
			'Eu', 
		   {% endif %}		   
		   '{{ view_inscricao.participante.apelido }}'],
		  
          ['AP', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_placar }}, {% endif %}                        {{ view_inscricao.quantidade_acerto_placar }}],
          ['AR', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_vencedor_um_resultado_correto }}, {% endif %} {{ view_inscricao.quantidade_acerto_vencedor_um_resultado_correto }}],
          ['AV', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_vencedor }}, {% endif %}                      {{ view_inscricao.quantidade_acerto_vencedor }}],
          ['AE', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_empate_erro_placar }}, {% endif %}            {{ view_inscricao.quantidade_acerto_empate_erro_placar }}],
		  ['AS', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_somente_resultado_um_time }}, {% endif %}     {{ view_inscricao.quantidade_acerto_somente_resultado_um_time }}],
		  ['AE', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_erro }}, {% endif %}                                 {{ view_inscricao.quantidade_erro }}]
        ]);

        var options = {
          title: 'Quantidade de acertos',
		  width:450, height:350,
          hAxis: {title: 'Histórico da Pontuação', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_col'));
        chart.draw(data, options);
      }
    </script>

