    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
	
	  var qtde_users = 0;
	
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart_line);
	  
	  //var data = new google.visualization.DataTable();

	  function chart_add_columns(data) {
			//data.addColumn('number', '');
	  }
	  
      function drawChart_line() {	    
			var data = get_data_line();

			var options = {
							title: 'Histórico de Colocação',
							width:900, height:480,
							vAxis: {maxValue: 10, direction: -1} // Inverte a Coluna em ordem crescente...
						  };
			var chart = new google.visualization.LineChart(document.getElementById('chart_div'));		
			chart.draw(data, options);
      }
	  
	  function get_data_line() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Jogos');
			data.addColumn('number', '{{ view_inscricao.participante.apelido }}');
			list_add_line[0] = "[]";
			{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
				data.addColumn('number', '{{ user_inscricao.participante.apelido }}');        
				list_add_line[1] = "[]";
			{% endif %}

			data.addRows({{qtde_jogos}});		
			var i = 0;
			{% for a in apostas %} // view_inscricao
				data.setValue(i, 0, '{{ a.jogo.time_a}} X {{ a.jogo.time_b }}');
				data.setValue(i, 1, {{a.colocacao}});
				//data.setValue(0, 1, 400);
				i++;
			{% endfor %}		
			
			{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
				i = 0;
				{% for a in my_apostas %}
					data.setValue(i, 2, {{a.colocacao}});
					i++;
				{% endfor %}		
			{% endif %} 	
			return data;
	  }
	  
	  function drawChart_line_json(aposta_part_json) {		
		list_add_line[length_list_add-1] = aposta_part_json;		
		var data = get_data_line();		
		//alert(JSON.stringify(aposta_part_json));		
		update_draw_charts_line(data);
	  }
	  
	  function update_draw_charts_line(data) {		
			{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}			
			var col = 3;
			{% else %}
			var col = 2;
			{% endif %}
			// faço o laço correndo em todos os participantes add depois do carregamento da pág.					
			for (var ii = 0; ii < length_list_add; ii++) {			
				if(JSON.stringify(list_add_line[ii]).indexOf('pk') > -1) {					
					$('#id_part_include2')[0].selectedIndex=-1;
					$('#id_part_include2').find("option[value='"+list_add_line[ii][0].fields.inscricao+"']").attr("selected", "selected");
					var participante = $('#id_part_include2 option:selected').text();			
					data.addColumn('number', participante); 
					
					$.each(list_add_line[ii], function(i, item){					
						data.setValue(i, col, item.fields.colocacao);
					});		
					col++;
				}
			}
			
			var options = {
							title: 'Histórico de Colocação',
							width:900, height:480,
							vAxis: {maxValue: 10, direction: -1} // Inverte a Coluna em ordem crescente...
						  };
			var chart = new google.visualization.LineChart(document.getElementById('chart_div'));		
			chart.draw(data, options);		
	  }
	  
	    var list_add = [];
		var list_add_line = []
		var length_list_add = 0;
	    //list_remove = [];
		
		function hide_msg_add() {
			$('#id_message_add2').empty();
		}
		
		function hide_msg_remove() {
			$('#id_message_remove2').empty();
		}
		
		function remove_participante(inscricao) {
			//alert('inscr: ' + inscricao);
			
			$('#id_part_include2').get(0).selectedIndex = -1;
			$('#id_part_include2').find("option[value='"+inscricao+"']").attr("selected", "selected");
			var participante = $('#id_part_include2 option:selected').text();		
			
			//alert('participante: ' + participante);
			
			for(var i = 0; i < length_list_add; i++) {
				if (JSON.stringify(list_add[i]).indexOf(participante) > -1) {
					 // limpa na lista...
					 list_add[i] = "[]";
					 list_add_line[i] = "[]";
					 // decrementa o users
					 qtde_users--;					 
					 // remove dos add...
					 $('#id_part_include2 option:selected').remove();
					 // inclui na lista dos nao add
					 $('#id_part_not_include2').append('<option value="'+inscricao+'">'+participante+'</option>');									
					 // remove da tabela
					 $('#id_add__'+inscricao).remove();							 
					 // grafico barras...
					 var data = get_data(qtde_users);
					 update_draw_charts_bar(data);			
					 // grafico linha
					 var data = get_data_line();		
					 update_draw_charts_line(data);					 
					 break;
				}								

			}						
			//			$(selectOption).find("option[index='0']").attr("selected","selected");
			//			$(selectOption).find("option[value='DEFAULT']").attr("selected","selected");
			//			$(selectOption).find("option[text='Default']").attr("selected","selected");								
		}
		
		
		$(function() {		
			
			$('#add_part2').click(function() {				
				var ip = $('#id_part_not_include2').val();	
				//alert(ip);				
				if (ip == null) {
					$('#id_message_add2').html('Selecione o participante para adiciona-lo!   <span><a href="javascript:undefined" onclick="hide_msg_add();"> <i class="icon-remove"></i></a></span>');
				} else {					
					var qtde_add = $('#id_part_include2 option').length;
					
					//alert('Posicao >>> ' + qtde_add+1);
					
					if (qtde_add == 5) {
						$('#id_message_add2').html('É possivel adicionar somente 5 participantes!   <span><a href="javascript:undefined" onclick="hide_msg_add();"> <i class="icon-remove"></i></a></span>');
					} else {					
						$.getJSON('/get_inscricao_json/'+ip,  // URL 				
								  function(retorno) {         // REQUISIÇÂO       
									 //alert(JSON.stringify(retorno));
									 linha = '<tr id="id_add__'+retorno[0].fields.inscricao_id+'">';									 
									 linha +='  <td><img src="'+retorno[0].fields.participante_foto+'" height="20" width="25" class="img-rounded"/> '+retorno[0].fields.participante_apelido+'</td>';
									 linha +='  <td><center>'+retorno[0].fields.inscricao_colocacao+'º</center></td>';
									 linha +='  <td><center>'+retorno[0].fields.inscricao_pontos+'</center></td>';	
									 linha +='  <td><center><a href="javascript:undefined" onclick="remove_participante('+retorno[0].fields.inscricao_id+');"><i class="icon-remove"></i></a></center></td>';
									 linha +='</tr>';
									 $('#corpoTabela').append(linha);
									 $('#id_part_not_include2 option:selected').remove();
									 $('#id_part_include2').append('<option value="'+retorno[0].fields.inscricao_id+'">'+retorno[0].fields.participante_apelido+'</option>');
									 
									 //alert('ANTES add_part_grafico_barra: addRows ');
									 add_part_grafico_barra(retorno);
									 
						});			
						
						//$('#id_loading_').ajaxStart(function() { $(this).html('<img src="/media/images/__159__.gif"/>'); });						
						//$('#chart_div').html('<img src="/media/images/__159__.gif"/>');						
						// 1. Busca lista de aposta. (Json)						
											
						$.getJSON('/get_aposta_by_inscricao/'+ip,  // URL 				
								  function(retorno) {         // REQUISIÇÂO        	  				  
									//alert(JSON.stringify(retorno));
									//alert(retorno[0].fields.resultado_a);									
									// 1.1 data.addColumn('number', '{ retorno[0].fields.participante_apelido }'); 									
									drawChart_line_json(retorno);									
									//data.addColumn('number', retorno[0].fields.pk+"---"); 									
									//alert("pos >>> drawChart_line_json");
									/* 1.2 		
										{% for a in apostas %}
											data.setValue(i, qtde_add+1, {{a.colocacao}});
											i++;
										{% endfor %}
									*/									
									//$('#id_loading_').ajaxComplete(function() { $(this).empty(); });
								  }  							
						); 		
						
						
						// 2. incluí na grid. OK
						// 3. inclui no grafico em linha. 
						// 4. inclui no grafico em barra.OK
						// 5. retira do lisbox nao inclusos. OK
						// 6. add no box dos visualizados. OK
					}
				}
			});
			
			$('#id_remove_part2').click(function() {
				var inscricao_part = $('#id_part_include2').val();
				if (inscricao_part == null) {
					$('#id_message_remove2').html('Selecione o participante para remove-lo!   <span><a href="javascript:undefined" onclick="hide_msg_remove();"> <i class="icon-remove"></i></a></span>');
				} else {
					var qtde_add = $('#id_part_include2 option').length;
					if(qtde_add == 1) {
						$('#id_message_remove2').html('Não é possivel remover todos os participantes!   <span><a href="javascript:undefined" onclick="hide_msg_remove();"> <i class="icon-remove"></i></a></span>');
					} else {
						var participante = $('#id_part_include2 option:selected').text();
						var found__ = false;
						for(var i = 0; i < length_list_add; i++) {
							participante_json = JSON.stringify(list_add[i]);
							//if (participante_json.indexOf('fields') < 0) {		
							//	$('#id_message_remove').html('Participante não poderá ser removido, somente os adicionados !   <span><a href="#" onclick="hide_msg_remove();"> <i class="icon-remove"></i></a></span>');
							//}
							//else {		
								//alert(participante_json);
								if (participante_json.indexOf(participante) > -1) {
									 // remove dos add...
									 $('#id_part_include2 option:selected').remove();
									 // inclui na lista dos nao add
									 $('#id_part_not_include2').append('<option value="'+list_add[i][0].fields.inscricao_id+'">'+list_add[i][0].fields.participante_apelido+'</option>');									
									 // remove da tabela
									 $('#id_add__'+list_add[i][0].fields.inscricao_id).remove();
									 // limpa na lista...
									 list_add[i] = "[]";
									 list_add_line[i] = "[]";
									 // decrementa o users
									 qtde_users--;
									 found__ = true;
									 
									 // grafico barras...
									 var data = get_data(qtde_users);
									 update_draw_charts_bar(data);
									 
									 // grafico linha
									 var data = get_data_line();		
									 update_draw_charts_line(data);
									 break;
								}								
							//}
						}
						if(!found__) {
							$('#id_message_remove2').html('Participante não poderá ser removido, somente os adicionados !   <span><a href="javascript:undefined" onclick="hide_msg_remove();"> <i class="icon-remove"></i></a></span>');
						}						
						
					}
				}
				
				
			});
			
		});	  
	  
	  /*
	  function drawChartCompare() {
	    var data = new google.visualization.DataTable();
		data.addColumn('string', 'Jogos');
		data.addColumn('number', 'Colocação');
        data.addColumn('number', 'Minha Colocação');        
        data.addRows({{qtde_jogos}});		
		var i = 0;
		{% for a in apostas %}
			data.setValue(i, 0, '{{ a.jogo.time_a}} X {{ a.jogo.time_b }}');
			data.setValue(i, 1, {{a.colocacao}});
			//data.setValue(0, 2, 400);
			i++;
		{% endfor %}
        var options = {
          title: 'Histórico de Colocação',
          vAxis: {maxValue: 10, direction: -1} // Inverte a Coluna em ordem crescente...
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_compare_div'));		
        chart.draw(data, options);	  
	  }
	  */
	  
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart_);
	  
	  function add_part_grafico_barra(json) {	  
			// Gero os dados com os participantes ja add...
			qtde_users++;
			var data = get_data(qtde_users);
			// Add em uma lista o json...
			//list_add[qtde_users-1] = json;
			list_add[length_list_add] = json;
			length_list_add++;

			// Atualiza grafico de barras...
			update_draw_charts_bar(data);
			
	  }
	  
	  function update_draw_charts_bar(data) {				  
			// verifico em qual linha do array devo iniciar...
			//var i = 0;
			//{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
			//	i = 1;
			//{% endif %}	
			{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}			
			var row = 2;
			{% else %}
			var row = 1;
			{% endif %}
			// faço o laço correndo em todos os participantes add depois do carregamento da pág.			
			for(var i = 0; i < length_list_add; i++) { /*i += 1*/			
				//alert(row);			
				if (JSON.stringify(list_add[i]).indexOf('fields') > -1) {			
					data.setCell(row, 0, list_add[i][0].fields.participante_apelido);
					data.setCell(row, 1, list_add[i][0].fields.inscricao_quantidade_acerto_placar);
					data.setCell(row, 2, list_add[i][0].fields.inscricao_quantidade_acerto_vencedor_um_resultado_correto);
					data.setCell(row, 3, list_add[i][0].fields.inscricao_quantidade_acerto_vencedor);
					data.setCell(row, 4, list_add[i][0].fields.inscricao_quantidade_acerto_empate_erro_placar);
					data.setCell(row, 5, list_add[i][0].fields.inscricao_quantidade_acerto_somente_resultado_um_time);
					data.setCell(row, 6, list_add[i][0].fields.inscricao_quantidade_erro);
					row++;
				}
			}
			
		    var view = new google.visualization.DataView(data);
		    //view.setColumns([0, 1]);
			var options = {
			  title: 'Quantidade de acertos',
			  width:500, height:480,
			  hAxis: {title: 'Histórico da Pontuação', titleTextStyle: {color: 'red'}}
			};				  		  
		    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_col'));
		    chart.draw(view, options);		  
	  }
	  
	  function get_data(addRows) {
		  var data = new google.visualization.DataTable();
		  
		  //alert('qtde de linhas; ' + qtde_users);
		  
		  data.addColumn('string', 'Participante');
		  data.addColumn('number', 'AP');
		  data.addColumn('number', 'AR');
		  data.addColumn('number', 'AV');
		  data.addColumn('number', 'AE');
		  data.addColumn('number', 'AS');
		  data.addColumn('number', 'ER');
		  
		  {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
				if (addRows == -1) {
					qtde_users = 2;
					data.addRows(qtde_users);
					list_add[0] = '[]';
					list_add[1] = '[]';
					length_list_add = 2;
				} else {
					data.addRows(addRows);
				}
		  {% else %}
				if (addRows == -1) {
					qtde_users = 1;
					data.addRows(qtde_users);
					list_add[0] = '[]';
					length_list_add = 1;
				} else {
					data.addRows(addRows);
				}
		  {% endif %}
		  
		  // view
		  data.setCell(0, 0, '{{ view_inscricao.participante.apelido }}');
		  data.setCell(0, 1, {{ view_inscricao.quantidade_acerto_placar }});
		  data.setCell(0, 2, {{ view_inscricao.quantidade_acerto_vencedor_um_resultado_correto }});
		  data.setCell(0, 3, {{ view_inscricao.quantidade_acerto_vencedor }});
		  data.setCell(0, 4, {{ view_inscricao.quantidade_acerto_empate_erro_placar }});
		  data.setCell(0, 5, {{ view_inscricao.quantidade_acerto_somente_resultado_um_time }});
		  data.setCell(0, 6, {{ view_inscricao.quantidade_erro }});
		  
		  {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
			  // user
			  data.setCell(1, 0, '{{ user_inscricao.participante.apelido }}');
			  data.setCell(1, 1, {{ user_inscricao.quantidade_acerto_placar }});
			  data.setCell(1, 2, {{ user_inscricao.quantidade_acerto_vencedor_um_resultado_correto }});
			  data.setCell(1, 3, {{ user_inscricao.quantidade_acerto_vencedor }});
			  data.setCell(1, 4, {{ user_inscricao.quantidade_acerto_empate_erro_placar }});
			  data.setCell(1, 5, {{ user_inscricao.quantidade_acerto_somente_resultado_um_time }});		  
			  data.setCell(1, 6, {{ user_inscricao.quantidade_erro }});
		  {% endif %}
		  return data;
	  }
	  
      function drawChart_() {
	  
		/*
	  
        var data = google.visualization.arrayToDataTable([
		
          ['Pontuação', 		   
		   {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
			'Eu', 
		   {% endif %}		   
		   '{{ view_inscricao.participante.apelido }}'],
		  
          ['AP', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_placar }}, {% endif %}                        {{ view_inscricao.quantidade_acerto_placar }}],
          ['AR', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_vencedor_um_resultado_correto }}, {% endif %} {{ view_inscricao.quantidade_acerto_vencedor_um_resultado_correto }}],
          ['AV', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_vencedor }}, {% endif %}                      {{ view_inscricao.quantidade_acerto_vencedor }}],
          ['AE', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_empate_erro_placar }}, {% endif %}            {{ view_inscricao.quantidade_acerto_empate_erro_placar }}],
		  ['AS', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_acerto_somente_resultado_um_time }}, {% endif %}     {{ view_inscricao.quantidade_acerto_somente_resultado_um_time }}],
		  ['AE', {% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %} {{ user_inscricao.quantidade_erro }}, {% endif %}                                 {{ view_inscricao.quantidade_erro }}]
        ]);

        var options = {
          title: 'Quantidade de acertos',
		  width:450, height:350,
          hAxis: {title: 'Histórico da Pontuação', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_col'));
        chart.draw(data, options);
		
		*/
		
		  var data = get_data(-1);
			
		  var view = new google.visualization.DataView(data);
		  //view.setColumns([0, 1]);

			var options = {
			  title: 'Quantidade de acertos',
			  //width:450, height:350,
			  width:500, height:480,
			  hAxis: {title: 'Histórico da Pontuação', titleTextStyle: {color: 'red'}}
			};				  
		  
		  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_col'));
		  chart.draw(view, options);				
		  		
      }
    </script>
	
	<div id="id_modal_include_part" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Incluir Participante</h3>
	  </div>
	  <div class="modal-body">
	  
		<center>
			<span id="id_loading_"></span> 
			<div class="row">
				<p>Participantes não adicionados</p>
				<p><input type="text" id="id_pesq_part" value=""></p>			
				<div class="span3">
					<select size="6" id="id_part_not_include">
						{% for ip in participantes_inscritos %}
							<option value="{{ ip.id }}">{{ip.participante.apelido}}</option>
						{% endfor %}
					</select>	  
				</div>
				<div class="span2">
					<p id="id_message_add" class="text-error"></p>
					<br/>
					<a id="add_part" href="#" class="btn btn-success" >Adicionar</a>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="span3">			
					<p>Participantes no gráfico</p>
					<select size="5" id="id_part_include">
						{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
							<option value="{{ user_inscricao.id }}">{{ user_inscricao.participante.apelido }}</option>
						{% endif %}
						<option value="{{ view_inscricao.id }}">{{ view_inscricao.participante.apelido }}</option>
					</select>		
				</div>
				<div class="span2">
					<p id="id_message_remove" class="text-error"></p>
					<br/>
					<a href="#" class="btn btn-danger" id="id_remove_part" >Retirar</a>
				</div>					
			</div>	
		</center>
	  </div>
	  <div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
	  </div>
	</div>		
	
	<div class="container">	
		<div class="row">
			<div class="span6">
				<table class="table">
					<thead class="text-warning">
						<tr>
							<td>Participante</td>
							<td><center>Colocação</center></td>
							<td><center>Pontos</center></td>
							<td></td>
						</tr>
					</thead>
					<tbody id="corpoTabela">        
						<tr>
							<td><img src="/media/{{ view_inscricao.participante.foto }}" height="20" width="25" class="img-rounded"/> {{ view_inscricao.participante.apelido }}</td>
							<td><center>{{ view_inscricao.colocacao }}º</center></td>
							<td><center>{{ view_inscricao.pontos }}</center></td>	
							<td></td><!--<td><center><a href="#"><i class="icon-remove"></i></a></center></td>-->
						</tr>					
						{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
							<tr>
								<td><img src="/media/{{ user_participante.foto }}" height="20" width="25" class="img-rounded"/> {{ user_participante.apelido }}</td>
								<td><center>{{ user_inscricao.colocacao }}º</center></td>
								<td><center>{{ user_inscricao.pontos }}</center></td>						
								<td></td><!--<td><center><a href="#"><i class="icon-remove"></i></a></center></td>-->
							</tr>
						{% endif %}						
					</tbody>					
				</table>
			</div> 
			<!-- Combobox Participantes -->
			<div class="span6">
				<div class="bs-example">
				  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
					<li class="active"><a href="#id_others_part" data-toggle="tab">Outros participantes</a></li>
					<li><a href="#id_add_list_hist" data-toggle="tab">Adicionados no Gráfico</a></li>			
				  </ul>
				</div>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="id_others_part">														
							<div class="span3">
								<select size="6" id="id_part_not_include2">
									{% for ip in participantes_inscritos %}
										<option value="{{ ip.id }}">{{ip.participante.apelido}}</option>
									{% endfor %}
								</select>	  
							</div>
							<div class="span2">
								<p><input type="text" id="id_pesq_part2" value="" placeholder="Pesquisar"></p>		
								<p id="id_message_add2" class="text-error"></p>
								<br/>
								<a id="add_part2" href="javascript:undefined" class="btn btn-success" >Adicionar</a>
							</div>					
					</div>
					<div class="tab-pane fade in" id="id_add_list_hist">
							<div class="span3">			
								<select size="6" id="id_part_include2">
									{% if user_inscricao.id > 0 and user_inscricao.id != view_inscricao.id %}
										<option value="{{ user_inscricao.id }}">{{ user_inscricao.participante.apelido }}</option>
									{% endif %}
									<option value="{{ view_inscricao.id }}">{{ view_inscricao.participante.apelido }}</option>
								</select>		
							</div>
							<div class="span2">
								<p id="id_message_remove2" class="text-error"></p>
								<br/>
								<a href="javascript:undefined" class="btn btn-danger" id="id_remove_part2" >Retirar</a>
							</div>	
					</div>							
				</div>				
				<!--
				<br/><br/>
				<a href="#id_modal_include_part" role="button" data-toggle="modal" class="btn btn-warning">Incluir participante</a>
				-->
			</div> 	
			<!-- End Combobox Participantes -->
		</div>
		<div class="row"> 
			</br>
			{% include 'legenda_pontos.html' %} 
		</div>
	</div>

	<br/>	
</div>

	<div class="row">
		<div class="span9">
			<div id="chart_div" style="width: 100%; height: 350px;">
				<center>
					<img src="/media/images/211.gif"/> <img src="/media/images/aguarde_g.gif"/>
				</center>
			</div>
		</div>
		<div class="span2">
			<div id="chart_div_col" style="width: 100%; height: 350px;"></div>
		</div>
	</div>
	
	<br/><br/><br/><br/><br/><br/><br/><br/>
	
<div class="container">	
