{% load functions %}

<script type="text/javascript">
	
	var qtde_atde = 0; // quantidade de atividades...
		
	//function load_atividades(competicao_pk) {
	//	alert('Iniciando busca das atividades...');
	//	$('#id_message').html('Diego');
		//$.getJSON('/get_atividades/'+competicao_pk+'/'+qtde_atde,  // URL 				
		//		  function(retorno) {     
		//			  alert(JSON.stringify(retorno));
		//		  }
		 //);
	}	
	
	function load_coment____(atividade_pk, id) {
		$('#'+id).html('<img src="/media/images/__159__.gif"/>');
		alert('ajax: Busca comentarios');
		$('#'+id).empty();
	}
	
	function load_coment(atividade_pk) {
		$('#id_img_load_coment'+atividade_pk).html('<img src="/media/images/__159__.gif"/>');
		//alert('ajax: Busca comentarios');
		$.getJSON('/get_comentarios/'+atividade_pk,  // URL 				
				  function(retorno) {         // REQUISICAO       
					 //alert(JSON.stringify(retorno));
					 //linha = '<tr id="id_add__'+retorno[0].fields.inscricao_id+'">';	
					 
					 html_ = "";
					 html_ += '<div class="row">';
					 html_ += '    <div class="span">';
					 html_ += '    		<img src="'+retorno[0].participante.foto+'" height="25" width="25" class="img-rounded"/>';
					 html_ += '    </div>';
					 html_ += '    <div class="span">';
					 html_ += '        <p class="text-info">'+ retorno[0].participante.apelido +' <span class="muted" style="font-size: 12px;"> | '+retorno[0].comentario.data_hora+'</span></p>';
				     html_ += '        <p>'+retorno[0].comentario.mensagem+'</p>';
					 html_ += '    </div>';
					 html_ += '</div>					 ';
					 
					 $('#id_coments'+atividade_pk).html(html_);					 
					 $('#id_load_coment'+atividade_pk).empty();
				  }
		);
	}	
	
	function comentar_atividade(atividade_pk) {
		//alert($('#id_mensagem_comentar'+atividade_pk).val());
		if($('#id_mensagem_comentar'+atividade_pk).val() != "") { 
			html_ = "";
			html_ += '<div class="row">';
			html_ += '    <div class="span">';
			html_ += '    		<img src="/media/{{user_participante.foto}}" height="25" width="25" class="img-rounded"/>';
			html_ += '    </div>';
			html_ += '    <div class="span">';
			html_ += '        <p class="text-info">{{user_participante.apelido}} <span class="muted" style="font-size: 12px;"> | '+'MEIA NOITE'+'</span></p>';
			html_ += '        <p>'+$('#id_mensagem_comentar'+atividade_pk).val()+'</p>';
			html_ += '    </div>';
			html_ += '</div>					 ';
			$('#id_comentar'+atividade_pk).append(html_);
			$('#id_mensagem_comentar'+atividade_pk).val("");
		}
	}
	
	function delete_atividade(atividade_pk) {
		$('#id_atividade'+atividade_pk).empty();
	}
	
	$(function() {	
	
		$('#id_message').html('Diego');
	
		load_atividades({{competicao.id}});
			
		$('.carregar_mais').click(function() {
			$('.carregar_mais').html('<img src="/media/images/__159__.gif"/>');
			alert('ajax: Busca mais Feeds: de ' + qtde_atde + ' a ' + (qtde_atde+15));
			qtde_atde += 15;
			$('.carregar_mais').html('<a href="javascript:undefined" class="btn">Carregar mais</a>');
		});			

		$('#id_publicar_atividade').click(function() {
			var mensagem__ = $('#id_message').val();
			var inscricao_pk = {{user_inscricao.id}};
			var competicao_pk = {{competicao.id}};
			if($('#id_message').val() != "") {
				alert('Inscricao: ' + inscricao_pk + ' | Competicao: ' + competicao_pk + ' | Mensagem: ' + mensagem__);
				$.getJSON('/inserir_atividade/'+inscricao_pk+'/'+competicao_pk,  // URL 	
						  { mensagem: mensagem__ },	     // Parametros	
						  function(retorno) {                                    // REQUISICAO       
							 alert(JSON.stringify(retorno));
							 //linha = '<tr id="id_add__'+retorno[0].fields.inscricao_id+'">';	
						  }				
			} else {
				alert('Digite a mensagem!!!');
			}
		});
		
	});
	
</script>

{% if user_inscricao.pk > 0 %}
	<div span="row">	
		  <div class="form-group offset3">
			<img src="/media/{{user_inscricao.participante.foto}}" height="50" width="50" class="img-circle"/>
			<div class="col-lg-10">
			  <textarea class="form-control span4" rows="3" id="id_message" placeholder="Sua mensagem"></textarea><br/>
			  <a href="#" id="id_publicar_atividade" class="btn btn-primary input-medium" onclick="alert('Diego');">publicar</a>
			</div>
		  </div>	
	</div>			
	<br/><br/><br/><br/>
{% endif %}

<div class="span8">

{% for a in posts %}
	<div class="row">
		<div id="id_atividade{{a.id}}">
			<hr/>
			<div class="span">
				<img src="/media/{{a.inscricao.participante.foto}}" height="50" width="50" class="img-rounded"/>
			</div>
			<div class="span6">
				<p class="text-info">
					{{ a.inscricao.participante.apelido }} 
					<span class="pull-right muted" style="font-size: 12px;">
						{{ a.data_hora }} 
						{% if user_participante.id > 0 and user_participante == a.inscricao.participante %}
							<a href="javascript:undefined" onclick="delete_atividade({{a.id}})"><i class="icon-remove"></i></a>
						{% endif %}
					</span> 
				</p>
				<p class="well">{{ a.mensagem }}</p>
				<div id="id_load_coment{{a.id}}">
				</div>
				<div id="id_coments{{a.id}}"></div>
				<div id="id_comentar{{a.id}}"></div>
				<div id="id_comentar_atividade{{a.id}}">
					<img src="/media/{{user_inscricao.participante.foto}}" height="30" width="30" class="img-rounded"/>
					<input type="text" id="id_mensagem_comentar{{a.id}}"> 
					<a href="javascript:undefined" class="btn" id="id_publicar_mensagem{{a.id}}" onclick="comentar_atividade({{a.id}});">publicar</a>				
				</div>

			</div>
		</div>		
	</div>
{% empty %}
	<h4>Seja o Primeiro a publicar no <span class="text-warning">{{ subtitulo }}</span>.</h4>
{% endfor %}


	<div id="id_atividades"></div>

	<hr/>
	<div class="carregar_mais">
		<a href="javascript:undefined" class="btn">Carregar mais</a>
	</div>
</div>
<div class="span4">
</div>











