<a href="#myModal" role="button" class="pull-right" data-toggle="modal">Legenda</a>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		<h3 id="myModalLabel">Legenda da pontuacao</h3>
  </div>
  <div class="modal-body">
		  <p><b>AP</b> - Acertar Placar</p>
		  <p><b>AR</b> - Acertar Vencedor e resultado de um time</p>
		  <p><b>AV</b> - Acertar Vencedor</p>
		  <p><b>AE</b> - Acertar Empate com placar diferente</p>
		  <p><b>AS</b> - Acertar Somente resultado de um time</p>
		  <p><b>ER</b> - Errou Tudo</p>
  </div>
  <div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div>