{% extends '_base.html' %}

{% block body %}
<div class="container">
 <form class="form-horizontal" action='' method="POST"> {% csrf_token %}
	<fieldset>
	  <div id="legend">
		<legend class="">Login</legend>
	  </div>    
	  <div class="control-group">
		<!-- Username -->
		<label class="control-label"  for="username">{{ form.username.label_tag }}</label>
		<div class="controls">
		  {{ form.username }}
		</div>
	  </div>

	  <div class="control-group">
		<!-- Password-->
		<label class="control-label" for="password">{{ form.password.label_tag }}</label>
		<div class="controls">
		  {{ form.password }}
		</div>
	  </div>


	  <div class="control-group">
		<!-- Button -->
		<div class="controls">
			<button type="submit" class="btn btn-primary">Login</button>
			<button type="reset" class="btn">Cadastre-se</button>		  
		</div>
	  </div>
	</fieldset>
  </form>                
</div>
{% endblock %}
