
	 <div class="navbar navbar-fixed-top navbar-inverse" > <!--navbar-inverse-->
	   <div class="navbar-inner">
		 <div class="container">
		   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
		   </a>
		   <a class="brand" href="/home/"><img src="/media/images/bola_32.png"/></a>
		   <div class="nav-collapse collapse" id="main-menu">
			<ul class="nav" id="main-menu-left">
				<li><a href="/home/">Competições</a></li>
			</ul>
			<ul class="nav pull-right" id="main-menu-right">
			  <li><a href="/admin/">Admin</a></li>
			  <li><a href="/regras/">Regras</a></li>
			  {% if participante.user.is_authenticated %}
			    <li class="dropdown">
				   <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ participante.apelido }}<b class="caret"></b></a>
				   <ul class="dropdown-menu" id="swatch-menu">
					  <li><a href="/perfil/">Perfil</a></li>					    
					  <li><a href="/logout/">Sair</a></li>					    
				   </ul>
				</li>  								
			  {% else %}	
			    <li><a href="/login/">Login</a></li> 
			  {% endif %}
			  <!--
			  <li><a rel="tooltip" target="_blank" href="http://builtwithbootstrap.com/" title="Showcase of Bootstrap sites &amp; apps" onclick="_gaq.push(['_trackEvent', 'click', 'outbound', 'builtwithbootstrap']);">Built With Bootstrap <i class="icon-share-alt"></i></a></li>
			  <li><a rel="tooltip" target="_blank" href="https://wrapbootstrap.com/?ref=bsw" title="Marketplace for premium Bootstrap templates" onclick="_gaq.push(['_trackEvent', 'click', 'outbound', 'wrapbootstrap']);">WrapBootstrap <i class="icon-share-alt"></i></a></li>
			  -->
			</ul>
		   </div>
		 </div>
	   </div>
	 </div>
	
	<br/><br/><br/>

		
        <div class="head">
			<div class="container">
            	<div class="row-fluid">
					<div class="span5">
							<img class="pull-left" src="/media/images/trofeu_bolao_72.png"/>
							<div class="offset2">
								<h1 class="muted">{{ titulo }}</h1>
								<p>{{ competicao.campeonato.nome }}  {{ competicao.nome }}</p>
							</div>
					</div>
					<div class="span7">
						{% if participante.user.is_authenticated %}
							<div class="pull-right">
								<h3>{{ participante }}</h3>
								<p>{{ inscricao.colocacao }}º<span class="offset3">{{ inscricao.pontos }} pts.</span></p>
							</div>							
						{% else %}
							<a href="/cadastrese/" class="btn pull-right">Cadastre-se</a>						  
						{% endif %}
					</div>
				</div>
            </div>
				{% if competicao.id > 0 %}
    			<div class="subnav">
					<div class="container">
					<ul class="nav nav-pills">
					  <li><a href="{{url_rancking}}">{{nome_rancking}}</a></li>
					  <li><a href="{{url_tabela}}">{{nome_tabela}}</a></li>					    
					  <li><a href="{{url_aposta}}">{{nome_aposta}}</a></li>
					</ul>
					</div>
                </div>
                {% endif %}
		</div>
