{% load functions %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

	// Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
	
	// Set a callback to run when the Google Visualization API is loaded.
	//google.setOnLoadCallback(drawChart);
	
	var index_jogo = 0;
	var max_index_jogo = 0;	
	
	var json_jogos = "";
	var json_apostas = "";		
	var json_inscricoes = "";	
	
	function get_maior_ganho_perca() {
		if ({{qtde_jogos}} > 1) {
			//alert('OKOKOO');
			$.getJSON('/get_maior_ganho_perca/'+{{competicao.id}}, 
			    	  function(retorno) {
							//alert(JSON.stringify(retorno));
							var html_ = "";
							html_ += '<a href="#modal_part" role="button" data-toggle="modal" onclick="get_detail_participante('+retorno[0].ganho.inscricao+');">';
							html_ += '	  <h5 class="text-info">';
							html_ += '       <i class="icon-upload"></i> ';
							html_ += '       <span style="font-size: 18px;"> '+retorno[0].ganho.apelido +' </span><br/>';
							html_ += '		 <img class="pull-left img-rounded" src="'+retorno[0].ganho.foto+'" height="80" width="80"/> ';
							if (retorno[0].ganho.ganho != 0) {
								html_ += '		 Subiu <b>'+retorno[0].ganho.ganho+'</b> colocacoes. ';
							} else {
								html_ += '		 Manteve a colocação. ';
							}
							html_ += '		 Está com 48 pontos na '+retorno[0].ganho.colocacao+'º Colocação.</span>';
							html_ += '    </h5>	';
							html_ += '</a>';
							html_ += '<br/>';
							html_ += '<hr/>';
							html_ += '<br/>';
							html_ += '<a href="#modal_part" role="button" data-toggle="modal" onclick="get_detail_participante('+retorno[0].perca.inscricao+');">';
							html_ += '    <h5 class="text-warning">';
							html_ += '    	<i class="icon-download"></i> ';
							html_ += '      <span style="font-size: 18px;"> '+retorno[0].perca.apelido+' 	</span><br/>';
							html_ += '    	<img class="pull-left img-rounded" src="'+retorno[0].perca.foto+'" height="80" width="80"/> ';
							if (retorno[0].perca.perca != 0) {
								html_ += '    	Desceu <b>'+(retorno[0].perca.perca*-1)+'</b> colocacoes. ';
							} else {
								html_ += '		 Manteve a colocação. ';
							}
							html_ += '    	Está com 48 pontos na '+retorno[0].perca.colocacao+'º Colocação.</span>';
							html_ += '    </h5>			';
							html_ += '</a>							';
							$('#id_maiores_alteracao_colocacao').html(html_);
					  }
			);
		} else {
			$('#id_maiores_alteracao_colocacao').empty();
		}
	}
	
    function drawChart(ap, ar, av, ae, as, er, qtde_jg) {
			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Critérios de Acertos');
			data.addColumn('number', 'Quantidade');
			
			data.addRows([
				['AP', ap], // Acertou Placar
				['AR', ar], // Acertou Vencedor e Resultado de Gols de um time
				['AV', av], // Acertou Vencedor
				['AE', ae], // Acertou Empate com placar diferente
				['AS', as], // Acertou somente o Resultado de Gols de um time.
				['ER', er]  // Errou Tudo
			]);
			
			// Set chart options
			var options = {'title': qtde_jg + ' Jogos',
						   'width':350,
						   'height':200,
						   is3D: true
						  };
			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('chart'));
			chart.draw(data, options);
    }

	function get_detail_participante(inscricao_pk) {
	
		$('#chart').html('<img src="/media/images/__159__.gif"/>	');
	    $('#title_modal').html('<img src="/media/images/159.gif" class="img-rounded"/> ');
	    $('#col_pt').html('<img src="/media/images/211.gif" class="img-rounded"/>');
	
		$.getJSON('/perfil_competicao_modal/'+inscricao_pk,  // URL 
		
				  function(retorno) {         // REQUISIÇÂO        	  				  
					//alert(JSON.stringify(retorno)); // Convert JSon para String				  
					html_ = '<h2>';
					html_ +=     '<a href="/perfil_competicao/{{competicao.id}}/'+retorno[0].fields.inscricao_id+'">  ';
					html_ +=     '    <img src="'+retorno[0].fields.participante_foto+'" height="50" width="55" class="img-rounded"/>'+retorno[0].fields.participante_apelido;
					html_ +=     '</a>';
					html_ += '</h2>';
					$('#title_modal').html(html_);
					
					$('#id_href_hist').attr('href', '/perfil_competicao/{{competicao.id}}/'+retorno[0].fields.inscricao_id);
					
					$('#col_pt').html('<div><br/><br/><h4> '+retorno[0].fields.inscricao_colocacao+'º Colocado </h4><br/><h4> '+retorno[0].fields.inscricao_pontos+' pontos </h4></div>');				  				
					
					// ToDo...: Se nao for meu historico...
					//$('#id_href_compare').html('<a href="#" id="" title="compare as colocações">Compare as colocações</a>');
					
					drawChart(retorno[0].fields.inscricao_quantidade_acerto_placar, 
					          retorno[0].fields.inscricao_quantidade_acerto_vencedor_um_resultado_correto,
							  retorno[0].fields.inscricao_quantidade_acerto_vencedor,
							  retorno[0].fields.inscricao_quantidade_acerto_empate_erro_placar,
							  retorno[0].fields.inscricao_quantidade_acerto_somente_resultado_um_time, 
							  retorno[0].fields.inscricao_quantidade_erro,
							  retorno[0].fields.quantidade_jogos);					
				  }           
		);  	
	}
	
	function Load_Calc_Inscricao__() {
		// Calcula Somatorio para as apostas calculadas...
		// Busca inscricoes (json), de jogos finalizados/andamento
		$.getJSON('/get_inscricoes_simulacao/'+{{competicao.id}}, 
				  function(retorno_inscricoes) {
						json_inscricoes = retorno_inscricoes;
						$('#id_corpo_tabela_sim').empty();
						soma_pontos_inscricao();
						order_colocacao();																		
						popula_rancking2();																																		
						$('#id_loading_table_simulacao').empty();							
				  });	
	}
	
	function get_pontos_ganho_simulacao(inscricao_id) {
		var p = 0;
		$.each( json_apostas, function( i, a ) {
			if(a.fields.calculado && a.fields.inscricao == inscricao_id) {
				p += a.fields.pontos;
			}
		});
		return p;
	}
	
	function get_html_simulacao(inscricao) {
		var html_tbody = "";
		html_tbody += '<tr name="row_'+inscricao.pk+'">'; // row_[inscricao]
		html_tbody += '   <td >'+inscricao.fields.colocacao+'</td>';
		//html_tbody += '	  <td ><img src="/media/images/users/diego.jpeg" height="20" width="25" class="img-rounded"/> Diego Lirio</td>';
		html_tbody += '	  <td ><span id="id_p_info'+inscricao.fields.participante+'"></span></td>';
		html_tbody += '   <td ><center class="pontos">'+inscricao.fields.pontos+'</center></td>';
		html_tbody += '   <td ><center>+'+get_pontos_ganho_simulacao(inscricao.pk)+'</center></td>';
		html_tbody += '   <td ><center>'+inscricao.fields.quantidade_acerto_placar+'</center></td>';
		html_tbody += '   <td ><center>'+inscricao.fields.quantidade_acerto_vencedor_um_resultado_correto+'</center></td>';
		html_tbody += '   <td ><center>'+inscricao.fields.quantidade_acerto_vencedor+'</center></td>';
		html_tbody += '   <td ><center>'+inscricao.fields.quantidade_acerto_empate_erro_placar+'</center></td>';
		html_tbody += '   <td ><center>'+inscricao.fields.quantidade_acerto_somente_resultado_um_time+'</center></td>';
		//html_tbody += '   <td ><center>'+inscricao.fields.quantidade_erro+'</center></td>';
		var ra = get_resultado(inscricao.pk, 'A');
		var rb = get_resultado(inscricao.pk, 'B');
		html_tbody += '   <td ><center class="ra'+inscricao.pk+'"><input type="number" style="width: 80px; height: 35px; font-size: 12px;" value="'+ra+'" name="n1_resultado_a" min="0"></center></td>';
		html_tbody += '   <td ><center>X</center></td>';
		html_tbody += '   <td ><center class="rb'+inscricao.pk+'"><input type="number" style="width: 80px; height: 35px; font-size: 12px;" value="'+rb+'" name="n1_resultado_b" min="0"></center></td>';
		html_tbody += '</tr>	';			
		load_partipante_foto_apelido(inscricao.fields.participante);		
		return html_tbody;
	}
	
	function get_resultado(inscricao, result) {
		var resultado = 0;
		$.each( json_apostas, function( i, a) {
			if (a.fields.inscricao == inscricao && a.fields.jogo == json_jogos[index_jogo].pk) {
				//alert(result);
				if (result == 'A') {
					resultado = a.fields.resultado_a;
					//alert(resultado);
				} else if (result == 'B') {
					resultado = a.fields.resultado_b;
					//alert(resultado);
				} else {
					//alert(result);
				}
			}
		});
		//alert(result + ' ' + resultado);
		return resultado;
	}
	
	function load_partipante_foto_apelido(participante_id) {
		$.getJSON('/get_partipante_foto_apelido/'+participante_id, 
				  function(retorno) {
						$('#id_p_info'+participante_id).html('<img src="'+retorno[0].participante.foto+'" height="20" width="25" class="img-rounded"/> '+retorno[0].participante.apelido);
				  });	
		//return true;
	}
	
	function proximo_jogo_a_calcular_simulacao(index) {
		//$('#id_img_load_sim').ajaxStart(function() { $(this).html('<img src="/media/images/__159__.gif"/>'); });
		index_jogo = index;
		popula_jogo(json_jogos[index_jogo]);
		load_resultado_aposta_proximo_jogo(json_jogos[index_jogo]);
		//$('#id_img_load_sim').ajaxComplete(function() { $(this).empty(); });
	}
	
	function load_resultado_aposta_proximo_jogo(jogo) {
		$.each( json_apostas, function( i, a) {
			if (a.fields.jogo == jogo.pk) {
				set_resultado_a_participante_view(a.fields.inscricao, a.fields.resultado_a);
				set_resultado_b_participante_view(a.fields.inscricao, a.fields.resultado_b);
			}
		});
	}
	
	function popula_jogo(jogo) {
		var html_ = "";
		if (index_jogo > 0) {
			//html_ += '<a href="javascript:underfined" title="Jogo anterior: '+json_jogos[index_jogo-1].fields.time_a+' X '+json_jogos[index_jogo-1].fields.time_b+'" onclick="proximo_jogo_a_calcular_simulacao('+(index_jogo-1)+');"><i class=" icon-large icon-chevron-left"></i></a>';
			  html_ += '<a href="javascript:underfined" title="Jogo anterior: '+json_jogos[index_jogo-1].fields.time_a+' X '+json_jogos[index_jogo-1].fields.time_b+'" onclick="proximo_jogo_a_calcular_simulacao('+(index_jogo-1)+');"><img src="/media/images/prior.png"></img></a>';
		}
		html_ += '<span class="offset1">' +jogo.fields.time_a + '</span>';
		html_ += '<input type="number" class="class_jogo_resultado_a" style="width: 80px; height: 60px; font-size: 30px;" value="'+jogo.fields.resultado_a+'" min="0"> ';
		html_ += '<span class="muted">X</span> ';
		html_ += '<input type="number" class="class_jogo_resultado_b" style="width: 80px; height: 60px; font-size: 30px;" value="'+jogo.fields.resultado_b+'" min="0"> ';
		html_ += jogo.fields.time_b;
		if (index_jogo < max_index_jogo-1) {
			//html_ += '<a class="offset1" href="javascript:underfined" title="Próximo jogo: '+json_jogos[index_jogo+1].fields.time_a+' X '+json_jogos[index_jogo+1].fields.time_b+'" onclick="proximo_jogo_a_calcular_simulacao('+(index_jogo+1)+');"><i class="icon-large icon-chevron-right"></i></a>';
			html_ += '<a class="offset1" href="javascript:underfined" title="Próximo jogo: '+json_jogos[index_jogo+1].fields.time_a+' X '+json_jogos[index_jogo+1].fields.time_b+'" onclick="proximo_jogo_a_calcular_simulacao('+(index_jogo+1)+');"><img src="/media/images/next.png"></img></a>';
		}
		//alert(html_);
		$('#id_jogo_simulado').html(html_);
		$('#id_time_a').html(jogo.fields.time_a);
		$('#id_time_b').html(jogo.fields.time_b);		
	}
	
	function calc_aposta(jogo) {
		// Calcula Pontos nas Apostas
		$.each( json_apostas, function( i, item_ ) {

			// 4 - ToDo...: Calcula pontos somatorio (classe inscricao) e quantidade de acertos (ap, ar, av, ae, as, er)
			// 5 - ToDo...: Calcula Rancking (classe inscricao = colocacao)																
			// 6 - popula a classe inscricao na tabela de simulacao
			
			if(jogo.pk == item_.fields.jogo) {		
				// Calcula vencedor da aposta..
				//alert(retorno[index_jogo].pk + ' == ' + item_.fields.jogo);	
				
				// 3 - ToDo...: Calcula Apostas (pontos individuais/unitario/ganho no jogo)															
				if (item_.fields.resultado_a == jogo.fields.resultado_a && item_.fields.resultado_b == jogo.fields.resultado_b) {
					item_.fields.pontos = 7;
					json_apostas[i].fields.pontos = 7;
				}
				//if (a.resultado_a == jogo.resultado_a) and (a.resultado_b == jogo.resultado_b):
				//	a.pontos = PONTOS_PLACAR																
				else if (item_.fields.vencedor == jogo.fields.vencedor && 
						 item_.fields.vencedor != 'E' && 
						 (item_.fields.resultado_a == jogo.fields.resultado_a || item_.fields.resultado_b == jogo.fields.resultado_b)) {
					item_.fields.pontos = 5;
					json_apostas[i].fields.pontos = 5;
				}
				//elif (a.vencedor == jogo.vencedor) and (a.vencedor != 'E') and ((a.resultado_a == jogo.resultado_a) or (a.resultado_b == jogo.resultado_b)):
				//	a.pontos = PONTOS_VENCEDOR_RESULTADO_GOLS_UM_TIME
				else if (item_.fields.vencedor == jogo.fields.vencedor && item_.fields.vencedor != 'E') {
					item_.fields.pontos = 4;
					json_apostas[i].fields.pontos = 4;
				}
				//elif (a.vencedor == jogo.vencedor) and (a.vencedor != 'E'):
				//	a.pontos = PONTOS_VENCEDOR
				else if (item_.fields.vencedor == jogo.fields.vencedor && item_.fields.vencedor == 'E') {
					item_.fields.pontos = 3;
					json_apostas[i].fields.pontos = 3;
				}
				//elif (a.vencedor == jogo.vencedor) and (a.vencedor == 'E'):
				//	a.pontos = PONTOS_EMPATE_PLACAR_INCORRETO
				else if (item_.fields.vencedor != jogo.fields.vencedor && 
						 (item_.fields.resultado_a == jogo.fields.resultado_a || item_.fields.resultado_b == jogo.fields.resultado_b)) {
					item_.fields.pontos = 2;
					json_apostas[i].fields.pontos = 2;
				}
				//elif (a.vencedor != jogo.vencedor) and ((a.resultado_a == jogo.resultado_a) or (a.resultado_b == jogo.resultado_b)):
				//	a.pontos = PONTOS_SOMENTE_RESULTADO_GOLS_UM_TIME
				else {
					item_.fields.pontos = 0;
					json_apostas[i].fields.pontos = 0;
				}
				//else:
				//	a.pontos = PONTOS_ERRO									
				item_.fields.calculado = true;
				json_apostas[i].fields.calculado = true;
			}
		});	
	}
	
	// Soma pontos na inscricao e historico de acertos...
	function soma_pontos_inscricao() {
		$.each( json_inscricoes, function( i, inscricao) {
			
			// *********** Soma inscricoes ***************
			// 4 - ToDo...: Calcula pontos somatorio (classe inscricao) e quantidade de acertos (ap, ar, av, ae, as, er)
			$.each( json_apostas, function( i, a) {
				if (a.fields.inscricao == inscricao.pk && a.fields.calculado) {
					inscricao.fields.pontos += a.fields.pontos;																					
					//if a.pontos == PONTOS_PLACAR:
					//	qtde_ap = qtde_ap + 1	
					if (a.fields.pontos == 7) {
						inscricao.fields.quantidade_acerto_placar++;
					} 
					//if a.pontos == PONTOS_VENCEDOR_RESULTADO_GOLS_UM_TIME:
					//	qtde_ar = qtde_ar + 1		
					else if (a.fields.pontos == 5) {
						inscricao.fields.quantidade_acerto_vencedor_um_resultado_correto++;
					}
					//elif a.pontos == PONTOS_VENCEDOR:
					//	qtde_av = qtde_av + 1
					else if (a.fields.pontos == 4) {
						inscricao.fields.quantidade_acerto_vencedor++;
					}																					
					//elif a.pontos == PONTOS_EMPATE_PLACAR_INCORRETO:
					//	qtde_ae = qtde_ae + 1	
					else if (a.fields.pontos == 3) {
						inscricao.fields.quantidade_acerto_empate_erro_placar++;
					}																					
					//elif a.pontos == PONTOS_SOMENTE_RESULTADO_GOLS_UM_TIME:
					//	qtde_as = qtde_as + 1	
					else if (a.fields.pontos == 2) {
						inscricao.fields.quantidade_acerto_somente_resultado_um_time++;
					}																						
					//elif (a.jogo.status.codigo != 'E') and (a.pontos == PONTOS_ERRO):
					//	qtde_er = qtde_er + 1
					// ############## ERRO NAO CALCULA NA SIMULACAO...
				}
			});
			//retorno_inscricoes[i].fields.pontos = inscricao.fields.pontos;	
			// *********** Soma Fim.
		});	
	}
	
	function popula_rancking() {																	
		$.each( json_inscricoes, function( i, i_popula) {																			
			//******  6 - popula a classe inscricao na tabela de simulacao ******
			var html_tbody = get_html_simulacao(i_popula);
			$('#id_corpo_tabela_sim').append(html_tbody);	
			//******  6 Fim
		});
	}
	
	function popula_rancking2() {																	
		$.each( json_inscricoes, function( i, i_popula) {
			var first_to_last = "";
			$.each( json_inscricoes, function( x, insc_col) {
				if (insc_col.fields.pagamento == true) { // Se pagamento == false ja foi populado
					first_to_last = insc_col;
				}
			});		
			var html_tbody = "";
			$.each( json_inscricoes, function( i, i_maior_col) {
				if(i_maior_col.fields.pagamento == true) {
					if(i_maior_col.fields.colocacao < first_to_last.fields.colocacao) {
						//******  6 - popula a classe inscricao na tabela de simulacao ******
						first_to_last = i_maior_col;
					}
				}
			});
			first_to_last.fields.pagamento = false;			
			//html_tbody = get_html_simulacao(first_to_last);
			//$('#id_corpo_tabela_sim').append(html_tbody);	
			html_tbody = get_html_simulacao(first_to_last);
			$('#id_corpo_tabela_sim').append(html_tbody);		
			//******  6 Fim
		});
	}	

	function order_colocacao() {
		// Ordernar a Inscricao......		
		for (var i = 0; i < json_inscricoes.length; i++) {					
			var inscr_maior = "";
			// Pega a inscricao que nao foi add para a ordenacao
			$.each( json_inscricoes, function( x, inscr_m) {
				//alert(inscr_m.fields.pagamento);
				if (inscr_m.fields.pagamento == false) { // Se pagamento == true ja foi add na ordenacao
					inscr_maior = inscr_m;
					//break;
				}
			});
			
			// Pega o participante com maior numero de pontos ou acertos conforme a regra.
			$.each( json_inscricoes, function( y, inscr) {
				if (inscr.fields.pagamento == false) {
					if (inscr.fields.pontos > inscr_maior.fields.pontos) {
						inscr_maior = inscr;
					} 
					else if (inscr.fields.pontos == inscr_maior.fields.pontos) {
						if (inscr.fields.quantidade_acerto_placar > inscr_maior.fields.quantidade_acerto_placar) {
							inscr_maior = inscr;
						} 
						else if (inscr.fields.quantidade_acerto_placar == inscr_maior.fields.quantidade_acerto_placar) { 
							if (inscr.fields.quantidade_acerto_vencedor_um_resultado_correto > inscr_maior.fields.quantidade_acerto_vencedor_um_resultado_correto) {
								inscr_maior = inscr;
							} 
							else if (inscr.fields.quantidade_acerto_vencedor_um_resultado_correto == inscr_maior.fields.quantidade_acerto_vencedor_um_resultado_correto) {
								if(inscr.fields.quantidade_acerto_vencedor > inscr_maior.fields.quantidade_acerto_vencedor) {
									inscr_maior = inscr;
								} else if (inscr.fields.quantidade_acerto_vencedor == inscr_maior.fields.quantidade_acerto_vencedor) {
									if(inscr.fields.quantidade_acerto_empate_erro_placar > inscr_maior.fields.quantidade_acerto_empate_erro_placar) {
										inscr_maior = inscr;
									} 
									else if(inscr.fields.quantidade_acerto_empate_erro_placar == inscr_maior.fields.quantidade_acerto_empate_erro_placar) {
										if(inscr.fields.quantidade_acerto_somente_resultado_um_time > inscr_maior.fields.quantidade_acerto_somente_resultado_um_time) {
											inscr_maior = inscr;
										}
									}
								}
							}
						}
					}
				}
			});
			
			inscr_maior.fields.colocacao = i+1;
			
			// json_inscricoes: fazer loop para pegar o mesmo numero de inscricao para setar pagamento=true
			$.each( json_inscricoes, function( t, inscr_) {
				if (inscr_maior.pk == json_inscricoes[t].pk) {
					json_inscricoes[t].fields.pagamento = true; // pagamento = true (add na ordenacao)
				}				
			});
			//retorno_inscricoes_aux[i] = inscr_maior;
		}
		
		// ORDERNAR ADD NA SEQUENCIA.......
		//var json_inscricao_aux = eval("[]");
		//var inscr_first__ = "";
		
		//$.each( json_inscricoes, function( ii, insc) {			
		//	json_inscricoes[ii].fields.pagamento = false;
			
			/*
			if (inscr_m.fields.pagamento == true) { // Se pagamento == false ja foi ordenado....(add na sequencia)
				inscr_first__ = insc;
				if (insc.fields.colocacao > insc.fields.colocacao) {
					json_inscricoes[t].fields.pagamento = false; // pagamento = false (add na ordenacao)
					//json_inscricao_aux = json_inscricoes[t];
				}							
			}
			*/
		//});	
		//alert(JSON.stringify(json_inscricao_aux));			
	}
	
	function get_resultado_a_participante_view(inscricao) {
		return $('#id_table_simulator #id_corpo_tabela_sim tr').find('td .ra'+inscricao+' input').val(); // $(this).find('td .ra23 input').val();
	}
	
	function get_resultado_b_participante_view(inscricao) {
		return $('#id_table_simulator #id_corpo_tabela_sim tr').find('td .rb'+inscricao+' input').val(); // $(this).find('td .ra23 input').val();
	}	
	
	function set_resultado_a_participante_view(inscricao, value) {
		$('#id_table_simulator #id_corpo_tabela_sim tr').find('td .ra'+inscricao+' input').val(value);
		//return $('#id_table_simulator #id_corpo_tabela_sim tr').find('td .ra'+inscricao+' input').val(value); // $(this).find('td .ra23 input').val();
	}
	
	function set_resultado_b_participante_view(inscricao, value) {
		$('#id_table_simulator #id_corpo_tabela_sim tr').find('td .rb'+inscricao+' input').val(value); // $(this).find('td .ra23 input').val();
	}		
	
	// #### jquery
	$(function() {		
	
		get_maior_ganho_perca();
		get_one_puclicidade_pagina('K', {{competicao.id}});		
	
		$('.id_col').mouseenter(function() {
			$('.id_col').addClass('btn');
		}).mouseleave(function() {
			$('.id_col').removeClass('btn');
		});
		
		$('#id_tab_simular').click(function() {
			if($('#id_jogo_simulado').html() == '') {			
				$('#id_loading_table_simulacao').html('<center><img src="/media/images/__159__.gif"/></center>');			
				$('#id_img_load_sim').html('<img src="/media/images/__159__.gif"/>');				
				$.getJSON('/get_jogos_simulacao/'+{{competicao.id}},   // URL 				
						function(retorno) {                        // REQUISIÇÂO  
							//alert(JSON.stringify(retorno));
							json_jogos = retorno;
							max_index_jogo = retorno.length;
							//alert(max_index_jogo);
							if (max_index_jogo > 0) {
								popula_jogo(retorno[index_jogo]);
								$('#id_img_load_sim').empty();
								// pega as apostas... de todos os jogos (json)
								$.getJSON('/get_apostas_simulacao/'+{{competicao.id}},  		
										  function(retorno_apostas) {
														json_apostas = retorno_apostas;
														//alert(JSON.stringify(retorno_apostas));
														calc_aposta(retorno[index_jogo]);														  
														Load_Calc_Inscricao__();
													});
							} else {
								$('#id_loading_table_simulacao').empty();
								$('#id_img_load_sim').empty();
								$('#id_jogo_simulado').html('Não há jogos em aberto!');
							}
						}
				);
			}
		});
		
		$('#id_recalc').click(function() {
		
			if(max_index_jogo <= 0) {
					$('#id_loading_table_simulacao').html('Não há jogos há serem calculados!');
			} else {		
					//$('#id_corpo_tabela_sim').empty();
					$('#id_loading_table_simulacao').html('<center><img src="/media/images/__159__.gif"/></center>');
					
					// 1. Preenche Resultado do Jogo
					json_jogos[index_jogo].fields.resultado_a = $('#id_jogo_simulado input.class_jogo_resultado_a').val();
					json_jogos[index_jogo].fields.resultado_b = $('#id_jogo_simulado input.class_jogo_resultado_b').val();			
					
					// 2. Calcula vencedor do Jogo
					if (json_jogos[index_jogo].fields.resultado_a > json_jogos[index_jogo].fields.resultado_b) {
						json_jogos[index_jogo].fields.vencedor = 'A';
					} else if (json_jogos[index_jogo].fields.resultado_a < json_jogos[index_jogo].fields.resultado_b) {
						json_jogos[index_jogo].fields.vencedor = 'B';
					} else {
						json_jogos[index_jogo].fields.vencedor = 'E';
					}
					
					//alert(json_jogos[index_jogo].fields.resultado_a + ' X ' + json_jogos[index_jogo].fields.resultado_b + ' : Vencedor = ' + json_jogos[index_jogo].fields.vencedor);			
					
					$('#id_table_simulator #id_corpo_tabela_sim tr').each(function() {			
						//alert('antes pegar resultados e inscricao');
					
						// 3. Preenche resultado das Apostas dos participantes...
						//  Obs...: Aposta recebera os resultados por Jogo, e inscricao linha a linha
						var inscricao = $(this).attr("name").replace("row_","");
						var aposta_resultado_a = get_resultado_a_participante_view(inscricao); // $(this).find('td .ra'+inscricao+' input').val();
						var aposta_resultado_b = get_resultado_b_participante_view(inscricao); // $(this).find('td .rb'+inscricao+' input').val();		

						//alert('i'+inscricao+' a'+aposta_resultado_a+' b'+aposta_resultado_b);
						
						$.each( json_apostas, function( i, a ) {
							//alert('aposta_inscricao.'+a.fields.inscricao+' == tabela_inscricao.'+inscricao+' && aposta_jogo.'+a.fields.jogo+' == jogo.'+json_jogos[index_jogo].pk);
							if (a.fields.inscricao == inscricao && a.fields.jogo == json_jogos[index_jogo].pk) {
								//alert(json_apostas[i].fields.resultado_a);
								json_apostas[i].fields.resultado_a = aposta_resultado_a;
								//alert(json_apostas[i].fields.resultado_a);
								json_apostas[i].fields.resultado_b = aposta_resultado_b;
								if (a.fields.resultado_a > a.fields.resultado_b) {
									json_apostas[i].fields.vencedor = 'A';
								} else if (a.fields.resultado_a < a.fields.resultado_b) {
									json_apostas[i].fields.vencedor = 'B';
								} else {
									json_apostas[i].fields.vencedor = 'E';
								}
								//alert('a.'+json_apostas[i].fields.resultado_a+' == '+json_apostas[i].fields.resultado_b+'.b = ' + json_apostas[i].fields.vencedor);
							}
						});
						//alert('Linha: ' + $(this).attr("name")); // inscricao
						//alert('Pontos: ' + $(this).find('td .pontos').html()); // pontos da inscricao
						//alert('Resultado: ' + $(this).find('td center.ra input').val() + ' X ' + $(this).find('td center.rb input').val()); // resultado da aposta
						
						//$(this).find('td').each(function(){
							//do your stuff, you can use $(this) to get current cell
							//txt += "-"+$(this).html();
						//});
					});	
					
					//alert(txt);
					
					$('#id_corpo_tabela_sim').empty();
					
					//alert('antes calc_aposta');				
					// 4. Calc...
					calc_aposta(json_jogos[index_jogo]);
					
					Load_Calc_Inscricao__();		
					
					//$('#id_loading_table_simulacao').empty();
			}
		});
		
	});
	
</script>

<div class="row">

	<div class="visible-desktop pull-right" id="id_publicidade_top">
		<img src="/media/images/__159__.gif"/>
	</div>	
	
	<p>{{competicao.campeonato.nome}}</p>
	<h3>Copa <a href="{{patrocinador.patrocinador.url_site}}" target="_blank">{{patrocinador.patrocinador.nome_visual}}</a> {{competicao.nome}}</h3>
	{% if valor_acumulado != 0 %}
		<h5 id="id_valor_acumulado"><span class="text-success">R$ </span> <span style="font-size: 20px;"> <b>{{ valor_acumulado }}</b> </span> <span class="">Acumulado</span></h3> 
	{% endif %}
	
	
	<br/>
	<!-- Modal Contato -->
	<div id="modal_contato" class="modal-ui hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="text-warning">X</span></button>
			<h3>Contato</h3>
		</div>
		<div class="modal-body">
			<form action="/contato_email/" method="POST" class="form-horizontal"> {% csrf_token %}	
				<div id="legend">
				   <legend><h3>Email</h3></legend>
				</div>			
				<div class="control-group">
					<label class="control-label">Nome</label>										
					<div class="controls">
						<input type="text" name="nome" value="{{user_inscricao.participante.apelido}}">
						<!--
						{ if form.dono.errors } 
							{ for error in form.dono.errors }
								<span class="help-inline"><span class="text-error">{ error|escape }</span></span>
							{ endfor }
						{ endif } 																
						-->
					</div>	
				</div>			
				<div class="control-group">
					<label class="control-label">Email</label>										
					<div class="controls">
						<input type="text" name="email" value="{{user_inscricao.participante.user.email}}">
						<!--
						{ if form.dono.errors } 
							{ for error in form.dono.errors }
								<span class="help-inline"><span class="text-error">{ error|escape }</span></span>
							{ endfor }
						{ endif } 																
						-->
					</div>	
				</div>
				<div class="control-group">
					<label class="control-label">Telefone</label>										
					<div class="controls">
						<input type="text" name="telefone" value="{{user_inscricao.participante.dd}} {{user_inscricao.participante.telefone}}">
						<!--
						{ if form.dono.errors } 
							{ for error in form.dono.errors }
								<span class="help-inline"><span class="text-error">{ error|escape }</span></span>
							{ endfor }
						{ endif } 																
						-->
					</div>	
				</div>					
				<div class="control-group">
					<label class="control-label">Mensagem</label>										
					<div class="controls">
						<textarea id="message" name="message" class="span4" placeholder="Sua Mensagem" rows="5"></textarea>				
						<!--
						{ if form.dono.errors } 
							{ for error in form.dono.errors }
								<span class="help-inline"><span class="text-error">{ error|escape }</span></span>
							{ endfor }
						{ endif } 																
						-->
					</div>	
				</div>									
			</form>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger"><i class="icon-ok"></i> Enviar </button>
			<a href="#" class="btn" type="button"><i class="icon-ban-circle"></i> Cancelar</a>				
		</div>
	</div>		
	<!-- Fim  Modal Contato -->
	
	{% if not user_inscricao.pagamento and competicao.valor_aposta > 0 and user_inscricao.id > 0 %}
		<div class="alert alert-block">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h2>Aviso!</h2>
			<h4>
				{{ competicao.mensagem_para_pagamento_pendente }}
				<a href="#modal_contato" role="button" onclick="" data-toggle="modal" class="alert-link"> Clique aqui</a> para entrar em contato.
			</h4>
		</div>	
	{% endif %}

	<!-- Modal Perfil -->
	<div id="modal_part" class="modal-ui hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="text-warning">X</span></button>
			<div id="title_modal">
				<img src="/media/images/159.gif" class="img-rounded"/> 
			</div>
		</div>
		<div class="modal-body">
			<div id="content_modal">
					<div class="pull-right"><div id="chart"><img src="/media/images/__159__.gif"/></div></div>
					<div id="col_pt">
						<center><img src="/media/images/211.gif" class="img-rounded"/></center>
					</div>
					<br/>
					<center><div id="chart_line"></div></center>				
			</div>
		</div>
		<div class="modal-footer">
			<span id="id_href_compare"></span>
			<a href="#" id="id_href_hist" class="pull-left" title="compare as colocações">Clique aqui para ver histórico da colocação</a>
		</div>
	</div>	
	<!-- Fim Modal -->
	
	<div class="span10">

				<div class="bs-example">
				  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
					<li class="active"><a href="#id_rancking" data-toggle="tab">Rancking</a></li>
					<li><a href="#id_simulador" data-toggle="tab" id="id_tab_simular">Simulador</a></li>			
				  </ul>
				</div>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="id_rancking">			
					
						<p class="pull-left"><a href="#"><a href="javascript:frame_impressao.print()">Imprimir</a></p>
						<center>{{qtde_jogos}} Jogos</center>
						<iframe name='frame_impressao' id='frame_impressao' height='0' width='0' src='/imprimir_rancking/{{competicao.id}}/' frameborder=' '>
						</iframe>		
						
						{% include 'legenda_pontos.html' %}
						
						<!--% include 'rancking_table.html' %-->	

						<table class="table table-striped table-hover well">
							<tr>
								<td class="text-error" title="Colocação">Col.</td>
								<td class="text-error">Participante</td>
								<td class="text-error" title="Inscrição"><center>Insc.</center></td>
								<td class="text-error" title="Pontos"><center>Pontos</center></td>
								<td class="text-error" title="Acerto do Placar (7 pontos)"><center>AP</center></td>
								<td class="text-error" title="Acerto do Vencedor e quantidade de gols de um Time (5 pontos)"><center>AR</center></td>
								<td class="text-error" title="Acerto do Vencedor (4 pontos)"><center>AV</center></td>
								<td class="text-error" title="Acerto de Empate com placar diferente (3 pontos)"><center>AE</center></td>
								<td class="text-error" title="Acerto de Somente da quantidade de gols de um Time (2 pontos)"><center>AS</center></td>
								<td class="text-error" title="Errou Tudo (Zero pontos)"><center>ER</center></td>
								<td class="text-error" title="% de aproveitamento"><center>%</center></td>
							</tr>
							
							{% for ip in inscricoes_competicao %}
							
							{% if ip.participante.id == user_participante.id %}
								<h1>
							{% endif %}
							<tr>
								<td>
									<a href="/comparar_colocacao/{{competicao.id}}/{{ip.id}}/" class="text-info" target="_blank" title="Comparar colocação">
										{% if ip.participante.id == user_participante.id %}
											<h4>{{ ip.colocacao}}º</h4>
										{% else %}
											{{ ip.colocacao}}º
										{% endif %}
									</a>
								</td>
								<td> <!-- nome participante -->
									<a href="#modal_part" role="button" data-toggle="modal" onclick="get_detail_participante( {{ ip.id }} );" {% if ip.participante.id == user_participante.id %} class="text-warning" {% endif %}>
										{% if ip.participante.id == user_participante.id %}
											<h4>
										{% endif %}						
											<img src="/media/{{ ip.participante.foto }}" 
												{% if ip.participante.id == user_participante.id %}
												 height="30" width="37" class="img-rounded"/>
												{% else %}
												 height="20" width="25" class="img-rounded"/>
												{% endif %}
											{{ ip.participante }}
										{% if ip.participante.id == user_participante.id %}
											</h4>
										{% endif %}									
									</a>
									<!--
									<a href="/perfil_competicao/{{competicao.id}}/{{ip.id}}/" {% if ip.participante.id == user_participante.id %} class="text-warning" {% endif %}>
										<img src="/media/{{ ip.participante.foto }}" height="20" width="25" class="img-rounded"/>
										{{ ip.participante }}
									</a>
									-->
								</td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.id }}</h4>
									{% else %}
										{{ ip.id }}
									{% endif %}
									</center>
								</td>
								<td class="text-info"><center><b>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.pontos }}</h4>
									{% else %}
										{{ ip.pontos }}
									{% endif %}										
								</b></center></td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.quantidade_acerto_placar }}</h4>
									{% else %}
										{{ ip.quantidade_acerto_placar }}
									{% endif %}									
									</center>
								</td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.quantidade_acerto_vencedor_um_resultado_correto }}</h4>
									{% else %}
										{{ ip.quantidade_acerto_vencedor_um_resultado_correto }}
									{% endif %}												
									</center>
								</td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.quantidade_acerto_vencedor }}</h4>
									{% else %}
										{{ ip.quantidade_acerto_vencedor }}
									{% endif %}																	
									</center>
								</td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.quantidade_acerto_empate_erro_placar }}</h4>
									{% else %}
										{{ ip.quantidade_acerto_empate_erro_placar }}
									{% endif %}														
									</center>
								</td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.quantidade_acerto_somente_resultado_um_time }}</h4>
									{% else %}
										{{ ip.quantidade_acerto_somente_resultado_um_time }}
									{% endif %}																
									</center>
								</td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip.quantidade_erro }}</h4>
									{% else %}
										{{ ip.quantidade_erro }}
									{% endif %}																					
									</center>
								</td>
								<td class="muted">
									<center>
									{% if ip.participante.id == user_participante.id %}
										<h4>{{ ip|get_aproveitamento }}</h4>
									{% else %}
										{{ ip|get_aproveitamento }}
									{% endif %}																					
									</center>
								</td>				
							</tr>
							{% empty %}
								<h2 class="muted">Não há participantes cadastrados</h2>
							{% endfor %}
						</table>				
					</div>
					<!-- ========================= Simulador =========================== -->
					<div class="tab-pane fade in" id="id_simulador">
						<center>
							<h1 id="id_jogo_simulado"></h1>
							<div id="id_img_load_sim"><img src="/media/images/__159__.gif"/></div>
							
							<br/>
							<a href="javascript:underfined" class="btn btn-primary" id="id_recalc">Recalcular</a>
							<br/><br/>
						</center>							
						<table class="table table-striped table-hover well" id="id_table_simulator">
							<tr>
								<td class="text-error" title="Colocação">Col.</td>
								<td class="text-error">Participante</td>
								<td class="text-error" title="Pontos"><center>Pontos</center></td>
								<td class="text-error" title="Pontos somados na simulação"><center>+</center></td>
								<td class="text-error" title="Acerto do Placar (7 pontos)"><center>AP</center></td>
								<td class="text-error" title="Acerto do Vencedor e quantidade de gols de um Time (5 pontos)"><center>AR</center></td>
								<td class="text-error" title="Acerto do Vencedor (4 pontos)"><center>AV</center></td>
								<td class="text-error" title="Acerto de Empate com placar diferente (3 pontos)"><center>AE</center></td>
								<td class="text-error" title="Acerto de Somente da quantidade de gols de um Time (2 pontos)"><center>AS</center></td>
								<!--<td class="text-error" title="Errou Tudo (Zero pontos)"><center>ER</center></td>-->
								<td class="text-error" title=""><center id="id_time_a">Brasil</center></td>
								<td class="text-error" title=""><center>X</center></td>
								<td class="text-error" title=""><center id="id_time_b">Itália</center></td>
							</tr>	
							<tbody id="id_corpo_tabela_sim"></tbody>
						</table>
						<div id="id_loading_table_simulacao"><center><img src="/media/images/__159__.gif"/></center></div>
					</div>							
				</div>				
				<!--
				<br/><br/>
				<a href="#id_modal_include_part" role="button" data-toggle="modal" class="btn btn-warning">Incluir participante</a>
				-->	
	
	</div>	
	<div class="span2">
		
		<br/><br/><br/><br/>
		<div id="id_maiores_alteracao_colocacao"><center><img src="/media/images/ret.gif"/></center></div>
		
		<br/><br/>
		
		<!--<h4> <a href="http://www.facebook.com/versatti.multimarcas.2013" target="_blank">Social</a> </h4>		-->
		<br/>
		<!-- Facebook -->
			<div id="fb-root"></div>
			<script>
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
		<!-- Facebook -->      		
		 <!-- Facebook -->       
			  <div class="fb-like-box" 
				 data-href="http://www.facebook.com/asiscoweb" 
				 data-width="200" 
				 data-height="430" 
				 data-show-faces="true" 
				 data-stream="false" 
				 data-header="true">
			</div>              
		 <!-- Facebook -->  	
		
		<br/><br/><br/>
	
		<span class="text-warning">publicidade</span><br/>
		<div class="visible-desktop">
			<a href="{{ patrocinador.patrocinador.url_site }}" target="_blank">
				<img class="img-rounded" title="{{patrocinador.patrocinador.nome_visual}}" height="100" width="150" src="/media/{{ patrocinador.patrocinador.image_aside }}"/>
			</a>
			<br/><br/>
		</div>	
		
		{% for p in patrocinadores %}
			<div class="visible-desktop">
				<a href="{{ p.competicacao_patrocinador.patrocinador.url_site }}" target="_blank">
					<img class="img-rounded" title="{{p.competicacao_patrocinador.patrocinador.nome_visual}}" height="100" width="150" src="/media/{{ p.competicacao_patrocinador.patrocinador.image_aside }}"/>
				</a>
				<br/><br/>
			</div>			
		{% endfor %}
		
		<!--
		<div class="visible-desktop">
			<a href="http://www.asisco.com.br" target="_blank"><img class="img-rounded" src="/media/images/patrocinadores/cocacola.png"/></a>
			<br/><br/>
		</div>
		<div class="visible-desktop">
			<a href="http://www.asisco.com.br" target="_blank"><img class="img-rounded" src="/media/images/patrocinadores/asisco.jpg"/></a>
			<br/><br/>
		</div>
		-->
		<div class="patrocinador">
			<img class="img-rounded" height="100" width="150" src="/media/images/patrocinadores/anuncie.gif"/>
		</div>
	</div>
</div>
