<h4>
Todo participante eh inscrito na competicao, e assim tera em todos os jogos seus palpites do placar do Jogo.
O bolao eh um rancking de pontos corridos, onde quem fazer maoir numero de pontos vence.
A Pontuacao consiste em:	
</h4>

<br/>

<p class="text-info"><i class="icon-ok"></i> Acertar o Placar ( AP ) = 7 Pontos</p>
<p class="text-warning">exemplo:</p>
<p class="offset1">Sua aposta : Braisil 4 X 2 Italia</p>
<p class="offset1">Jogo:        Braisil 4 X 2 Italia</p>

<br/>

<p class="text-info"><i class="icon-ok"></i> Acertar o Vencedor e resultado de um time ( AR ) = 5 Pontos</p>
<p class="text-warning">exemplo:</p>
<p class="offset1">Sua aposta : Braisil 3 X 2 Italia ou Brasil 4 X 1 Italia </p>
<p class="offset1">Jogo:        Braisil 4 X 2 Italia</p>

<br/>

<p class="text-info"><i class="icon-ok"></i> Acertar o Vencedor ( AV ) = 4 Pontos</p>
<p class="text-warning">exemplo:</p>
<p class="offset1">Sua aposta : Braisil 3 X 0 Italia ou Brasil 3 X 1 Italia </p>
<p class="offset1">Jogo:        Braisil 4 X 2 Italia</p>

<br/>

<p class="text-info"><i class="icon-ok"></i> Acertar o Empate com placar diferente ( AE ) = 3 Pontos</p>
<p class="text-warning">exemplo:</p>
<p class="offset1">Sua aposta : Braisil 1 X 1 Italia ou Brasil 0 X 0 Italia  </p>
<p class="offset1">Jogo:        Braisil 2 X 2 Italia     </p>
     
<br/>

<p class="text-info"><i class="icon-ok"></i> Acertar somente resultado de um time ( AS ) = 2 Pontos</p>
<p class="text-warning">exemplo:</p>
<p class="offset1">Sua aposta : Braisil 1 X 2 Italia ou Brasil 4 X 5 Italia</p>
<p class="offset1">Jogo:        Braisil 4 X 2 Italia     </p>
      
<br/>

<p class="text-info"><i class="icon-ok"></i> (Errar Tudo) Errar Vencedor, Resultado dos times ( ER ) = Zero Pontos</p>
<p class="text-warning">exemplo:</p>
<p class="offset1">Sua aposta : Braisil 1 X 2 Italia ou Brasil 4 X 5 Italia </p>
<p class="offset1">Jogo:        Braisil 4 X 2 Italia     </p>
    
<br/>	
<hr/>	
<br/>

<h4>Rancking sera montado apartir dos crierios abaixo</h4>
<p class="text-warning">pontuacao e legenda:</p>
<p class="offset1"><span class="text-info">Primeiro:</span> Maior numeros de pontos.</p>
<p class="offset1"><span class="text-info">Segundo:</span> Maoir acertos de Placar (AP)</p>
<p class="offset1"><span class="text-info">Terceiro:</span> Maoir acertos do Vencedor e Resultado de um time (AR)</p>
<p class="offset1"><span class="text-info">Quarto:</span> Maoir acertos de Vencedor (AV)</p>
<p class="offset1"><span class="text-info">Quinto:</span> Maoir acertos de Empate com placar diferente (AE)</p>
<p class="offset1"><span class="text-info">Sexto:</span> Maoir acertos de Somente Resultado de um time (AS)</p>











