<p>
Regras....

Todo participante eh inscrito na competicao, e assim tera em todos os jogos seus palpites do placar do Jogo.
O bolao eh um rancking de pontos corridos, onde quem fazer maoir numero de pontos vence.
A Pontuacao consiste em:

Acertar o Placar ( AP ) = 7 Pontos
exemplo:
   Sua aposta : Braisil 4 X 2 Italia 
   Jogo:        Braisil 4 X 2 Italia
   
Acertar o Vencedor e resultado de um time ( AR ) = 5 Pontos
exemplo:
   Sua aposta : Braisil 3 X 2 Italia ou Brasil 4 X 1 Italia  
   Jogo:        Braisil 4 X 2 Italia
   
Acertar o Vencedor ( AV ) = 4 Pontos
exemplo:
   Sua aposta : Braisil 3 X 0 Italia ou Brasil 3 X 1 Italia  
   Jogo:        Braisil 4 X 2 Italia   
   
Acertar o Empate com placar diferente ( AE ) = 3 Pontos
exemplo:
   Sua aposta : Braisil 1 X 1 Italia ou Brasil 0 X 0 Italia  
   Jogo:        Braisil 2 X 2 Italia      
   
Acertar somente resultado de um time ( AS ) = 2 Pontos
exemplo:
   Sua aposta : Braisil 1 X 2 Italia ou Brasil 4 X 5 Italia  
   Jogo:        Braisil 4 X 2 Italia      
   
(Errar Tudo) Errar Vencedor, Resultado dos times ( ER ) = Zero Pontos
exemplo:
   Sua aposta : Braisil 1 X 2 Italia ou Brasil 4 X 5 Italia  
   Jogo:        Braisil 4 X 2 Italia    



Rancking sera montado através das pontuacao e legenda:

1º Maior numeros de pontos.
2º Maoir acertos de Placar (AP)
3º Maoir acertos do Vencedor e Resultado de um time (AR)
4º Maoir acertos de Vencedor (AV)
5º Maoir acertos de Empate com placar diferente (AE)
6º Maoir acertos de Somente Resultado de um time (AS)
   
Cadastre-se, solicite uma inscricao e participe:   
   
   
Com sua inscricao realizada, estara pronto para participar .
Todos os jogos da competicao, tera sua aposta(palpite).
Onde todos as apostas estarao cadastradas com o Placar de 0 X 0.

Resultado podera ser alterado 2 horas antes do inicio do jogo, apos isso nao podera mais alterar o placar, e podera ver as apostas de outros participantes!

</p>