	<script type="text/javascript">
		{% if message != 'None' %}
			alert('{{message}}');
		{% endif %}
	</script>
	
	<div class="pull-right">
		<p><a href="/solicitacoes/{{competicao.id}}/?status=A">Solicitações Aceitas</a></p>
		<p><a href="/solicitacoes/{{competicao.id}}/?status=R">Solicitações Rejeitadas</a></p>
	</div>

	<table class="table table-striped table-hover well">		
		<tr>
			<td class="text-error">Solicitação</td>
			<td class="text-error">Participante</td>
			<td class="text-error">Data e hora</td>
			<td class="text-error">Status</td>
			<td class="text-error"><center>Ação</center></td>			
		</tr>
		{% for s in solicitacoes %}
		<tr>
			<td>{{ s.id }}</td>
			<td>{{ s.participante.apelido }}</td>
			<td>{{ s.data_hora }}</td>
			<td>{{ s.status }}</td>
			<td>
				<center>
				<div class="btn-group">
				  <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
					<i class="icon-list"></i>
					<span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
						<li><a href="/aceitar_solicitacao/{{s.id}}/"><i class="icon-edit"></i>  Aceitar</a></li>
						<li><a href="/rejeitar_solicitacao/{{s.id}}/"><i class="icon-trash"></i>  Rejeitar</a></li>
				  </ul>
				</div>
				</center>
			</td>
		</tr>
		{% empty %}
			<h1>Não há Solicitações </h1>
		{% endfor %}
	</table>
