<div class="row">	
	<h3>Copa <a href="{{patrocinador.patrocinador.url_site}}" target="_blank">{{patrocinador.patrocinador.nome_visual}}</a> {{competicao.nome}}</h3>
	
	<div class="span10">
		<div class="pagination pagination-centered">
		  <ul>
			<li><a href="#">&larr;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">&rarr;</a></li>
		  </ul>
		</div>			
		
		<div class="pull-right">
			<img src="/media/images/editar_24.png"/> <i class="icon-arrow-right"></i> Em aberto/Editavel
			<img src="/media/images/bola__32.png" class="offset1"/> <i class="icon-arrow-right"></i> Em andamento/Bola rolando
			<img src="/media/images/apito_24.png" class="offset1"/> <i class="icon-arrow-right"></i> Finalizado
		</div>

		<br/>
		<br/>

		<table class="table table-striped table-hover well">		
			<tr>
				<td class="text-error" colspan="5"><center>Jogo</center></td>
				<td class="text-error visible-desktop">Data e hora</td>
				<td class="text-error">Local</td>
				<td class="text-error"><center>Status</center></td>
				<td class="text-error"><center>Ver Apostas</center></td>			
			</tr>
			{% for j in jogos %}
			<tr>
				<td>{{ j.time_a }}</td>
				<td>
					{% if j.status.codigo != 'E' %}
						{{ j.resultado_a }}
					{% endif %}
				</td>
				<td>X</td>
				<td>
					{% if j.status.codigo != 'E' %}
						{{ j.resultado_b }}
					{% endif %}
				</td>
				<td>{{ j.time_b }}</td>
				<td class="muted visible-desktop">{{ j.data_hora }}</td>
				<td class="muted">{{ j.local }}</td>
				<td>
					<center>
					{% if j.status.codigo == 'E' %} 
						<img src="/media/images/editar_24.png" title="{{j.status.descricao}}"/>
					{% elif j.status.codigo == 'A' %}
						<img src="/media/images/bola__32.png" title="{{j.status.descricao}}"/>
					{% elif j.status.codigo == 'F' %}
						<img src="/media/images/apito_24.png" title="{{j.status.descricao}}"/>
					{% endif %}
					</center>
				</td>
				<td>
					<center>
					{% if j.status.codigo != 'E' %}
						<a href="/apostas_jogo/{{competicao.id}}/{{ j.id }}/" title="Palpites de Todos">
							<img src="/media/images/dinheiro_moedas_32.png"/>
						</a>
					{% else %}
						<a disabled href="javascript:undefined" onclick="alert('Visualização de apostas somente visivel após partida estiver em andamento ou momentos antes!');"><img src="/media/images/interrogacao_.png"/></a>
					{% endif %}
					</center>
				</td>
			</tr>
			{% empty %}
				<h1>Não há Jogos cadastrados</h1>
			{% endfor %}
		</table>
	</div>			
	<div class="span2">
		<span class="text-warning">publicidade</span><br/>
		{% for p in patrocinadores %}
			<div class="visible-desktop">
				<a href="{{ p.patrocinador.url_site }}" target="_blank">
					<img class="img-rounded" title="{{p.patrocinador.nome_visual}}" height="100" width="150" src="/media/{{ p.patrocinador.image_aside }}"/>
				</a>
				<br/><br/>
			</div>			
		{% endfor %}
		
		<!--
		<div class="visible-desktop">
			<a href="http://www.asisco.com.br" target="_blank"><img class="img-rounded" src="/media/images/patrocinadores/cocacola.png"/></a>
			<br/><br/>
		</div>
		<div class="visible-desktop">
			<a href="http://www.asisco.com.br" target="_blank"><img class="img-rounded" src="/media/images/patrocinadores/asisco.jpg"/></a>
			<br/><br/>
		</div>
		-->
		<div class="patrocinador">
			<img class="img-rounded" height="100" width="150" src="/media/images/patrocinadores/anuncie.gif"/>
		</div>
	</div>			
</div>				